{% extends "base.html" %}

{% block topbar %}

{% include "administracion/menu.html" %}

{% endblock %}

{% block username %}
	Bienvenido {{ full_name }} !
{% endblock %}

{% block sidebar %}
<h4>M&oacute;dulos</h4>
<ul>
    {% if admin %}
    <li><a href="../create/">Crear</a></li>
    {% endif %}
    <li><a href="../../../../administracion/index/">Volver</a></li>
</ul>
{% endblock %}

{% block content %}
<h3>Calendarios</h3>

<ul>
    {% for calendario in calendarios %}

    <li><a href="#"> {{ calendario.nombre }} </a>

    {% endfor %}
</ul>

{% endblock %}