{% extends "base.html" %}

{% block topbar %}

{% include "administracion/menu.html" %}

{% endblock %}

{% block username %}
	{{ full_name }}
{% endblock %}

{% block sidebar %}
<div class="pure-menu pure-menu-open">
    <a class="pure-menu-heading">M&oacute;dulos</a>
    <ul>
	    {% if admin %}
	    <li><a href="{% url 'ventas:controlventa_update' controlventa.id %}">Editar</a></li>
	    {% endif %}
	    <li><a href="{% url 'ventas:controlventa_list' %}">Volver</a></li>
	</ul>
</div>
{% endblock %}

{% block content %}

<div style="float:left; width:40%;">
	<div style="float:left; width:100%;"><h3>Fecha de &uacute;ltima carga</h3></div>
	<div class="left_label">A&ntildeo</div>
	<div class="middle_label">:</div>
	<div class="right_label">{{ controlventa.anio }}</div>
	<div class="left_label">Periodo</div>
	<div class="middle_label">:</div>
	<div class="right_label">{{ controlventa.periodo }}</div>
	<div class="left_label">Organizaci&oacute;n</div>
	<div class="middle_label">:</div>
	<div class="right_label">{{ controlventa.organizacion }}</div>
</div>

{% endblock %}
