{% extends "base.html" %}

{% block topbar %}

{% include "administracion/menu.html" %}

{% endblock %}

{% block username %}
	Bienvenido {{ full_name }} !
{% endblock %}

{% block sidebar %}
<h4>M&oacute;dulos</h4>
<ul>
    {% if admin %}
    <li><a href="{% url 'categorias:categoria_create' %}">Crear</a></li>
    {% endif %}
    <li><a href="{% url 'administracion:index' %}">Volver</a></li>
</ul>
{% endblock %}

{% block content %}
<h2>Categor&iacute;as</h2>

<div id="itemstree">
    <ul id="treeData" style="display: none;">
        {% for categoria in categorias %}
            {% for branch, obj in categoria.as_tree %}
                {% if obj %}

                    <li id="{{ obj.id }}" class="folder expanded"><b>({{ obj.get_nivel }}) </b>{{ obj.nombre }}

                    {% if branch %}
                        <ul>
                    {% else %}
                        </li>
                    {% endif %}
                {% else %}
                    {% if branch %}
                        </ul>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    </ul>
</div>

{% endblock %}

{% block js %}
<script>

$(function() {
    $("#itemstree").fancytree();
});

</script>
{% endblock %}
