{% extends "base.html" %}

{% block topbar %}

{% include "administracion/menu.html" %}

{% endblock %}

{% block username %}
	Bienvenido {{ full_name }} !
{% endblock %}

{% block sidebar %}
<h4>M&oacute;dulos</h4>
<ul>
	{% if admin %}
    <li><a href="{% url 'categorias:categoria_update' categoria.id %}">Editar</a></li>
    <li><a href="{% url 'categorias:categoria_delete' categoria.id %}">Eliminar</a></li>
    {% endif %}
    <li><a href="{% url 'categorias:categoria_list' %}">Volver</a></li>
</ul>
{% endblock %}

{% block content %}

<h2>{{ categoria.nombre }}</h2>

{% endblock %}