{% extends "base.html" %}
{% load humanize %}

{% block topbar %}

{% include "administracion/menu.html" %}

{% endblock %}

{% block username %}
	Bienvenido {{ full_name }} !
{% endblock %}

{% block sidebar %}
<h4>M&oacute;dulos</h4>
<ul>
    {% if admin %}
    <li><a href="{% url 'categorias:item_create' %}">Crear Item</a></li>
    <li><a href="{% url 'categorias:item_responsables' %}">Asignar Responsables</a></li>
    {% endif %}
    <li><a href="{% url 'administracion:index' %}">Volver</a></li>
</ul>
{% endblock %}

{% block content %}
<h2>Items</h2>

<div id="itemstree">
    <ul id="treeData" style="display: none;">
        {% for obj in items %}
        <li id="{{ obj.id }}" class="folder lazy"><a href="{% url 'categorias:categoria_detail' obj.id %}" target="_self">{{ obj.nombre }}</a>
        {% endfor %}
    </ul>
</div>

{% endblock %}

{% block js %}
<script>

$(function() {
    
    $("#itemstree").fancytree({
        
        lazyload: function(e, data){
        // return a source in 'data.result'
            data.result = {
            url: "{% url 'categorias:item_nodesearch' %}",
            data: {key: data.node.key}
            };
        },

        
    });


});

</script>
{% endblock %}
