Django==1.6.1
South==1.0
Werkzeug==0.9.6
XlsxWriter==0.5.9
argparse==1.2.1
diff-match-patch==20110725.1
django-braces==1.4.0
django-debug-toolbar==1.1
django-extensions==1.4.3
django-wkhtmltopdf==2.0.2
djangorestframework==2.4.3
gunicorn==18.0
psycopg2==2.5.1
pydot==1.0.2
pyparsing==1.5.7
six==1.8.0
sqlparse==0.1.11
wsgiref==0.1.2
yolk==0.4.3
