#dialog-form{
	font-size: 90%;
}

label, input {
	display:block; 
}

input.text { 
	margin-bottom:5px; 
	width:95%; 
	padding: .4em; 
}

select { 
	margin-bottom:5px; 
	width:95%; padding: .4em; 
}

fieldset { 
	padding:0; 
	border:0; 
	margin-top:10px; 
}

.ui-dialog .ui-state-error { 
	padding: .3em; 
}

.validateTips { 
	border: 1px solid transparent; 
	padding: 0.3em; 
}

div.floating-menu-agrupaciones {
	position:fixed;
	right: 10px;
	top: 30%;
	width: 30%;
	z-index:100;
}