/*
body {
	margin:0;
	padding:0;
	border:0;
	width:100%;
	background:#fff;
	min-width:600px;
	font-size:90%;
}
a {
	color:#369;
}
a:hover {
	color:#fff;
	background:#369;
	text-decoration:none;
}
h1, h2, h3 {
	margin:.8em 0 .2em 0;
	padding:0;
}
p {
	margin:.4em 0 .8em 0;
	padding:0;
}
img {
	margin:10px 0 5px;
}
#ads img {
	display:block;
	padding-top:10px;
}
*/

body {
	font-size:80%;
}

input .proybox{
	width:2em;
}

div .left_label {
	float:left;
	width:40%;
}

div .middle_label {
	float:left;
	width:5%;
}

div .right_label {
	float:left;
	width:55%;
}

.msg_info, .msg_success, .msg_warning, .msg_error {
    border: 1px solid;
    margin: 10px 0px;
    padding:5px 10px;
    background-repeat: no-repeat;
    background-position: 10px center;-moz-border-radius:.5em;
-webkit-border-radius:.5em;
border-radius:.5em;
 
}
.msg_info {
    color: #00529B;
    background-color: #BDE5F8;
}
.msg_success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.msg_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.msg_error {
    color: #D8000C;
    background-color: #FFBABA;
}


#navlist {
	padding: 3px 0;
	margin-left: 0;
	/*border-bottom: 1px solid #778;*/
	margin-bottom: 0;
}

#navlist li {
	list-style: none;
	margin: 0;
	display: inline;
}

#navlist li a {
	padding: 3px 0.5em;
	margin-left: 3px;
	border: 1px solid #778;
	border-bottom: none;
	background: #DDE;
	text-decoration: none;
}

#navlist li a:link { color: #448; }
#navlist li a:visited { color: #667; }

#navlist li a:hover {
	color: #000;
	background: #AAE;
	border-color: #227;
}

#navlist li a#current {
	background: white;
	/*border-bottom: 1px solid white;*/
}

/* 'widths' sub menu */
#layoutdims {
	clear:both;
	background:#eee;
	border-top:4px solid #000;
	margin:0;
	padding:6px 15px !important;
	text-align:left;
}
/* column container */
.colmask {
	position:relative;	/* This fixes the IE7 overflow hidden bug */
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	overflow:hidden;		/* This chops off any overhanging divs */
}
/* common column settings */
.colright,
.colmid,
.colleft {
	float:left;
	width:100%;
	position:relative;
}
.col1,
.col2,
.col3 {
	float:left;
	position:relative;
	padding:0 0 1em 0;
	overflow:hidden;
}
/* 2 Column (left menu) settings */
.leftmenu {
	background:#fff;		/* right column background colour */
}
.leftmenu .colleft {
	right:85%;			/* right column width */
	background:#f4f4f4;	/* left column background colour */
}
.leftmenu .col1 {
	width:81%;			/* right column content width */
	left:102%;			/* 100% plus left column left padding */
}
.leftmenu .col2 {
	width:12%;			/* left column content width (column width minus left and right padding) */
	left:5%;			/* (right column left and right padding) plus (left column left padding) */
}
/* Footer styles */
#footer {
	clear:both;
	float:left;
	width:100%;
	border-top:1px solid #000;
}
#footer p {
	padding:10px;
	margin:0;
}

#navcontainer ul
{
margin: 0;
padding: 0;
list-style-type: none;
}

#navcontainer li { margin: 0 0 .2em 0; }

#navcontainer a
{
display: block;
color: #FFF;
background-color: #A4A4A4;
width: 9em;
padding: .2em .8em;
text-decoration: none;
}

#navcontainer a:hover
{
background-color: #369;
color: #FFF;
}

.datagrid
{
	border-collapse: collapse;
	border: 1px solid #69c;
	margin: 10px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
}

.datagrid th
{
	font-weight: normal;
	font-size: 14px;
	color: #039;
	border-bottom: 1px dashed #69c;
	padding: 12px 17px;
}

.datagrid tbody tr:hover td 
{
	color: #339;
	background: #d0dafd;
}

.datagrid td
{
	text-align: right;
	color: #669;
	padding: 7px 17px;
}

.datagrid td.estado1
{
	color: #FF5A5A;	
}

.datagrid td.estado2
{
	color: #31B404;	
}