#div_datos, #div_datos_comparativo{
	overflow: auto;
	overflow-y: hidden;
	-ms-overflow-y: hidden;
}

.accordion
{
	font-size: 11px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	margin-bottom: 5px; 
	background-color: white;
	border: 1px solid #ef4929;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	overflow: hidden;
}

.datagrid
{
	background: #fff;
	border-collapse: collapse;
	text-align: left;
	width: 100%;
}

.datagrid th
{
	font-weight: normal;
	font-size: 12px;
	padding: 5px 5px;
	color: #039;
	border-bottom: 2px solid #6678b1;
	text-align: center;
}

.datagrid tbody tr:hover td 
{
	color: #009;
}

.datagrid td
{
	border-bottom: 1px solid #ccc;
	color: #669;
	padding: 2px 5px;
	text-align: right;
	min-width: 75px;
	min-height: 10px;
}

.datagrid td.separador
{
	text-align: left;
}

.datagrid th.par, td.par
{
	background: white;
	color: #669;
}

.datagrid th.impar, td.impar
{
	background: #f5f5ed;
	color: #669;
}

.datagrid th.plan, td.plan
{
	background: #E1DCD3;
	color: #ef4929;
}

.datagrid tbody tr.totales
{
	border-top: 2px solid #6678b1;
	border-bottom: 2px solid #6678b1;
}

.titulo_chart
{
	text-align: center;
}

.pure-g
{
	text-align: center;
}
.pure-u-1-2
{
	text-align: center;
}
