#div_arbol{
	/*font-size: 11px;*/
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	margin-bottom: 5px; 
	background-color: white;
	border: 1px solid #ef4929;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	overflow: hidden;
}

#div_arbol th{
	color: #ef4929;
	text-align: center;
}

label, input {
	display:block; 
}

input.text { 
	margin-bottom:5px; 
	width:95%; 
	padding: .4em; 
}

select { 
	margin-bottom:5px; 
	width:95%; padding: .4em; 
}

fieldset { 
	padding:0; 
	border:0; 
}

.ui-dialog .ui-state-error { 
	padding: .3em; 
}

div.floating-menu-agrupaciones {
	position:fixed;
	right: 10px;
	top: 30%;
	width: 30%;
	z-index:100;
}

td.icono-planificado{
	background: url("../images/smile.png");
	background-repeat: no-repeat;
	background-position: right;
	background-size: auto 95%;
	/*background-color: #99FF66;*/
}

td.icono-pendiente{
	background: url("../images/sad.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 95%;
}

/* Para centrar un checkbox dentro de un td */
td input[type="checkbox"] {
    float: left;
    margin: 0 auto;
    width: 100%;
}