/*
    COLORES DEL TEMA (http://www.cloudberrycreative.com/)

    ROJO: #ef4929;
    CAFE LETRAS: #9B9181A;
    GRIS CLARO (FONDO): #f5f5ed;
    CAFE OSCURO (FONDO): #554E44;

*/

h4 {
    color: #ef4929;
}

.accordion
{
    width: 100%;
    page-break-after: always;
}

.titulo-chart
{
    text-align: center;
}

.pure-g
{
    text-align: center;
}
.pure-u-1-2
{
    text-align: center;
}

.tabla-indice
{
    width: 100%;
}

.col-item
{
    text-align: left;
    width: 85%;
}

.col-pagina
{
    text-align: right;
    width: 15%;
}

.pagina-categoria {
    text-align: center;
    padding: 10% 0;
}

.texto-pagina-categoria {
    padding: 20% 0;
}