<script type="text/ng-template" id="index.html">
    <h3>M&oacute;dulo de Administraci&oacute;n</h3>
    <p>
        Bienvenido al m&oacute;dulo de administraci&oacute;n. Desde esta pantalla usted puede controlar los siguientes aspectos de la aplicacici&oacute;n:
    </p>
    <ul>
        <li>Creaci&oacute;n de usuarios</li>
        <li>Configuraci&oacute;n de categor&iacute;as</li>
        <li>Asignaci&oacute;n de usuarios responsables</li>
        <li>Configuraci&oacute;n de temporadas y calendarios</li>
        <li>Configuraci&oacute;n de &uacute;ltima carga de ventas</li>
    </ul>
</script>

<script type="text/ng-template" id="t1.html">
    <p>Test1 - <b>[[vm.dummy]]</b></p>
</script>

<script type="text/ng-template" id="t2.html">
    <p>Test2 JS! - <b>[[vm.dummy]]</b></p>
</script>

<script type="text/ng-template" id="t3.html">
    <p>Test3 JS! - <b>[[vm.dummy]]</b></p>
</script>

<script type="text/ng-template" id="t4.html">
    <p>Test4 JS! - <b>[[vm.dummy]]</b></p>
</script>