{% extends "base.html" %}

{% block topbar %}

{% include "planes/menu.html" %}

{% endblock %}

{% block username %}
	Bienvenido {{ full_name }} !
{% endblock %}

{% block sidebar %}
<div class="pure-menu pure-menu-open">
    <a class="pure-menu-heading">M&oacute;dulos</a>
    <ul>
        <li><a href="{% url 'planes:plan_detail' plan.id %}">Volver</a></li>
    </ul>
</div>

<!-- Seccion con parametros de busqueda del item a proyectar  -->
<div class="caja_bordes" style="padding: 0px 0px; float:left; width:100%;">
    <a class="caja-header">Planificaci&oacute;n</a>
    <table style="width:100%;">
        {% for categoria in combo_categorias %}
        <tr>
            <td><label>{{ categoria.nombre }}</label></td>
        </tr>
        <tr>
            <td>
                <select id="combo_cat_plan_{{ categoria.id }}" class="buscador">
                    <option value="-1" selected></option>
                    {% for item in items_categoria_raiz %}
                        {% if item.categoria = categoria %}
                        <option value="{{ item.id }}">{{ item.nombre }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td><label>ITEMS</label></td>
        </tr>
        <tr>
            <td>
                <select id="combo_resultado" class="buscador">
                </select>
            </td>
        </td>
    </table>
    <a class="caja-header">Comparativo</a>
    <table style="width:100%;">
        {% for categoria in combo_categorias_comp %}
        <tr>
            <td style="width:80%">
                <label>{{ categoria.nombre }}</label>
            </td>
            <td style="width:20%"></td>
        </tr>
        <tr>
            <td style="width:80%">
                <select id="combo_cat_comp_{{ categoria.id }}" class="buscador">
                    <option value="-1" selected></option>
                    {% for item in items_categoria_raiz %}
                        {% if item.categoria = categoria %}
                        <option value="{{ item.id }}">{{ item.nombre }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </td>
            <td style="width:20%">
                <button type="button" id="button_cat_comp_{{ categoria.id }}" class="pure-button pure-button-active" style="font-size: 70%;background: rgb(66, 184, 221);">></button>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

<div id="panel-acciones" class="pure-menu pure-menu-open" style="float:left; display:none;">
    <a class="pure-menu-heading">Acciones</a>
    <ul>
        <li><a href="" id="btnSave">Guardar Proyecci&oacute;n</a></li>
    </ul>
</div>
<!-- Seccion con parametros de busqueda del item a proyectar  -->
{% endblock %}

{% block content %}
{% if msg %}
<h3>Proyectar Información</h3>
<div class="msg_warning">
    {{ msg }}
</div>
{% else %}

<div id="accordion">
    <h3>Planificaci&oacute;n</h3>
    <div>
        <div id="estadisticas-proyeccion" style="display:none;"></div>
        <div style="float:left; width:100%; display:none;">
            <div style="float:left; width:7%;">Item:</div><div id="item-planificacion" style="float:left; width:50%;"></div>
        </div>
        <div style="float:left; width:100%;">
            <div style="float:left; width:7%;">Precio Blanco:</div>
            <div id="itemprecio_blanco" class="editable" style="float:left; width:7%;"></div>
            <div style="float:left; width:7%; padding-left: 10px;">Costo Unitario:</div>
            <div id="itemcosto_unitario" class="editable" style="float:left; width:20%;"></div>
        </div>
        <div style="width:100%; float:left">
            <form id="proyform" class="pure-form">
                {% csrf_token %}
                <div style="width:100%; float:left;">
                    <div id="tab_proyeccion_etiquetas" style="width:10%; float:left;">
                    </div>
                    <div id="tab_proyeccion_datos" style="width:90%; float:left;">
                    </div>
                </div>
                <div style="width:100%; float:left; padding-top:10px; padding-bottom:10px;">
                    <input id="input_json_data" type="hidden" name="proyeccion" value="" />
                    <!--button id="btnSave" type="submit" class="pure-button pure-button-primary" style="display:none;">Guardar</button-->
                </div>
            </form>
        </div>
    </div>
    <h3>Comparativo</h3>
    <div>
        <div id="item-comparativo"></div>
        
        <div style="width:100%; float:left;">
            <div id="tab_comparativo_etiquetas" style="width:10%; float:left;">
            </div>
            <div id="tab_comparativo_datos" style="width:90%; float:left;">
            </div>
        </div>
    </div>
</div>
<div id="dialog-box" title="Planificación" style="text-align:center;">
    <p id="dialog_help_msg"></p>
    <input id="inputval" type="text" style="width:8em">
</div>
<div id="dvLoading" style="display:none;"></div>

{% endif%}

{% endblock %}

{% block js %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "css/planes/planificacion.css" %}">
<script>

$(function() {

    var planificacion = [];
    var comparacion = [];

    var td = "";

    $( document ).tooltip({
        track: true
    });

    $( document ).ajaxStart(function() {
        $("#dvLoading").show();
    });

    $( document ).ajaxStop(function() {
        $("#dvLoading").hide();
    });

    // Mantener sincronizado el movimiento del scroll inferior con el superior
    $("#tab_proyeccion_datos").on("scroll", function () {
        $("#tab_comparativo_datos").scrollLeft($(this).scrollLeft());
    });

    // Mantener sincronizado el movimiento del scroll superior con el inferior
    $("#tab_comparativo_datos").on("scroll", function () {
        $("#tab_proyeccion_datos").scrollLeft($(this).scrollLeft());
    });


    /* Actualiza las estadisticas generales de proyeccion */
    function buscarEstadisticasPlan(){
        var id_plan = parseInt({{plan.id}});
        $.ajax({
            data: {'id_plan':id_plan}, // Se envia el form serializado para que contenga el token CSRF
            url: '/planes/plan/planstats/',
            type: 'get',
            success: function(data){
                msg = "Totales: " + data['num_items_tot'] + " | Planificados: " + data['num_items_pro'] + " | Pendientes: " + data['num_items_nopro'];
                $("#estadisticas-proyeccion").html(msg);
            }
        });
    }

    /* Permite abrir varios paneles del acordion simultaneamente */
    $('#accordion').accordion({
        collapsible: true,
        heightStyle: "content",
        beforeActivate: function(event, ui) {
             // The accordion believes a panel is being opened
            if (ui.newHeader[0]) {
                var currHeader  = ui.newHeader;
                var currContent = currHeader.next('.ui-accordion-content');
             // The accordion believes a panel is being closed
            } else {
                var currHeader  = ui.oldHeader;
                var currContent = currHeader.next('.ui-accordion-content');
            }
             // Since we've changed the default behavior, this detects the actual status
            var isPanelSelected = currHeader.attr('aria-selected') == 'true';
            
             // Toggle the panel's header
            currHeader.toggleClass('ui-corner-all',isPanelSelected).toggleClass('accordion-header-active ui-state-active ui-corner-top',!isPanelSelected).attr('aria-selected',((!isPanelSelected).toString()));
            
            // Toggle the panel's icon
            currHeader.children('.ui-icon').toggleClass('ui-icon-triangle-1-e',isPanelSelected).toggleClass('ui-icon-triangle-1-s',!isPanelSelected);
            
             // Toggle the panel's content
            currContent.toggleClass('accordion-content-active',!isPanelSelected)    
            if (isPanelSelected) { currContent.slideUp(); }  else { currContent.slideDown(); }

            return false; // Cancels the default action
        }
    });
    
    /*
        Guarda la planificacion sobre la cual se esta trabajando.
    */

    $("#btnSave").click(function(event){
        event.preventDefault();
        var plan = parseInt({{plan.id}});
        var itemplan = planificacion['itemplan'].id_itemplan
        
        json_data = JSON.stringify({
            'plan': plan, 
            'itemplan': itemplan,
            'ventas': planificacion.ventas
        });
        
        $("#input_json_data").val(json_data);
        $.ajax({
            data: $("#proyform").serialize(), // Se envia el form serializado para que contenga el token CSRF
            url: '/planes/plan/savestage3/',
            type: 'post',
            success: function(data){
                $("#barra_notificaciones")
                .html(data.msg)
                .addClass("msg_success")
                .delay(3000)
                .queue( function(next){ 
                    $(this).removeClass("msg_success");
                    $(this).html("");
                        next(); 
                });

                // Se gatillan los eventos vinculados a los combobox de items para que
                // se recargue la informacion de las tablas en base a lo que existe en la BD

                // Se recarga el cuadro de proyeccion con la opcion escogida
                $("#combo_resultado").trigger("change");
                buscarEstadisticasPlan();
                tablaDctoUni(planificacion);
            }
        });

        // Si en algun momento se escogio un item comparativo, entonces se recarga la tabla para que contenga
        // los datos que se guardaron de la ultima planificacion
        var id_item_comparativo = -1;

        $("[id^=combo_cat_comp_]").each(function(index){
            if ( $(this).val() != -1 ){
                id_item_comparativo = $(this).val();
            }
        });
        if ( id_item_comparativo != -1 )
            buscarTablaComparacionAJAX_par(id_item_comparativo);
    });

    /*
    Se preocupa de cargar los elementos SELECT para la seleccion del item a planificar (comboboxes de planificacion).
    */
    function buscarCategoriaPlanificacion(){
        var id_this = $(this).attr("id");
        var id_item = $(this).val();
        var id_plan = parseInt({{plan.id}});
        if(id_item != -1){
            $.ajax({
                data: {'id_item':id_item, 'id_plan':id_plan},
                url: '/planes/plan/categoriasearchlist/',
                type: 'get',
                success: function(data){
                    // Se revisa si la consulta AJAX devolvio un resultado procesable (lista de items o itemsplan)
                    html = '';
                    html += "<option value=\"-1\"></option>"
                    for (var x=0; x<data.items.length; x++){
                        // Se revisa si el tipo de resultado es una lista de itemplan (combo de resultado) o items (combo de busqueda o comparacion)
                        if ( typeof data.items[x].precio === "undefined" )
                                html += '<option value="' + data.items[x].id + '">' + data.items[x].nombre + '</option>';
                        else
                            html += '<option value="' + data.items[x].id + '">' + data.items[x].estado + ' | ' + data.items[x].categoria_nombre + ' | ' + data.items[x].nombre + ' | ' + numeral(data.items[x].precio).format('0,0') + '</option>';
                    }
                    // Se revisa si la categoria es planificable (por lo tanto carga el resultado en el combo de items)
                    if (!data.categoria.planificable)
                        $("#combo_cat_plan_" + data.categoria.id_categoria).html(html);
                    else
                        $("#combo_resultado").html(html);       
                }
            });
        }
        else{
        }
    }

    /*
    Se preocupa de cargar los elementos SELECT para la seleccion del item a comparar (comboboxes comparativo).
    */
    function buscarCategoriaComparacion(){
        var id_this = $(this).attr("id");
        var id_this_arry = id_this.split("_");
        var id_item = $("#combo_cat_comp_" + id_this_arry[3]).val();
        var id_plan = parseInt({{plan.id}});
        if(id_item != -1){
            $.ajax({
                data: {'id_item':id_item, 'id_plan':id_plan},
                url: '/planes/plan/categoriacompsearchlist/',
                type: 'get',
                success: function(data){
                    if ( data.items != null ){
                        html = '';
                        html += "<option value=\"-1\"></option>"
                        for (var x=0; x<data.items.length; x++){
                            if ( data.items[x].precio != 0 )
                                html += '<option value="' + data.items[x].id + '">' + data.items[x].nombre + ' | ' + numeral(data.items[x].precio).format('0,0') + '</option>';
                            else
                                html += '<option value="' + data.items[x].id + '">' + data.items[x].nombre + '</option>';
                        }
                        $("#combo_cat_comp_" + data.categoria.id_categoria).html(html);
                    }
                    else{
                    }
                }
            });
        }
    }

    /*
        Controla los cambios hechos sobre el combobox de itemplan.
        Gatilla una busqueda sobre la informacion comercial del itemplan
        selccionado.
    */
    function buscarTablaPlanificacionAJAX(){
        var id_this = $(this).attr("id");
        var id_itemplan = $(this).val();
        var id_plan = parseInt({{plan.id}});
        $.ajax({
            data: {'id_itemplan':id_itemplan, 'id_plan':id_plan},
            url: '/planes/plan/itemplanventatemp/',
            type: 'get',
            success: function(data){
                //console.log(data);
                // Se revisa que la busqueda haya devuelto ventas. Si no devolvio datos de venta significa que no encontro el item
                // que se estaba buscando
                if( data.ventas != null ){
                    $("#item-planificacion").text(data.itemplan.nombre);
                    $("#itemprecio_blanco").text(numeral(data.itemplan.precio).format('0,0'));
                    $("#itemcosto_unitario").text(numeral(data.itemplan.costo_unitario).format('0,0'));
                    planificacion = data;
                    actualizarPlanificacion();
                    tablaDctoUni(data);
                }
                else{
                    alert("El item seleccionado no es válido. Por favor verifique que haya escogido correctamente un item y que tenga los permisos necesarios para verlo");
                }
                
            }
        });
        if ( $("#panel-acciones").is(":hidden") )
            $("#panel-acciones").show("slow");
    }

    /*
        Busca la informacion historica para la seccion de comparacion. Esta funcion se gatilla al
        hacer click en uno de los BUTTON que se presentan al lado de cada uno de los SELECT de comparacion
    */
    function buscarTablaComparacionAJAX_par(id_item){
        var id_plan = parseInt({{plan.id}});
        $.ajax({
            data: {'id_item':id_item, 'id_plan':id_plan},
            url: '/planes/plan/itemplanventatempcomp/',
            type: 'get',
            success: function(data){
                //console.log(data);
                // Se revisa que la busqueda haya devuelto ventas. Si no devolvio datos de venta significa que no encontro el item
                // que se estaba buscando
                if( data.ventas != null ){
                    $("#item-comparativo").text("Item: " + data.itemplan.nombre + " | " + numeral(data.itemplan.precio).format('0,0'));
                    comparacion = data;
                    tablaDctoUniComp(data);
                    
                }
                else{
                    alert("El item seleccionado no es válido. Por favor verifique que haya escogido correctamente un item y que tenga los permisos necesarios para verlo");
                }
                
            }
        });
    }
        
    $( "#dialog-box" ).dialog({
        autoOpen: false,
        //height: 300,
        width: 220,
        modal: true,
        buttons: {
            "Guardar": function() {
                var parametros = [];
                parametros = td.attr("id").split("_");
                td.text($("#inputval").val());
            
                if ( parametros[0].indexOf("item") == -1){
                /*
                    parametros[0]: tipo de metrica (unidades, descuentos, costos)
                    parametros[1]: periodo
                    parametros[2]: temporada
                */
                    actualizarPerPlanificacion(parametros[0], parametros[1], parametros[2]);
                }
                else{
                    if ( parametros[0] == "itemprecio" )
                        planificacion.itemplan.precio = numeral().unformat($("#inputval").val());    
                    else
                        planificacion.itemplan.costo_unitario = numeral().unformat($("#inputval").val());
                    actualizarPlanificacion();
                    //console.log(planificacion);
                }
                $("#inputval").val("");
                $( this ).dialog( "close" );
            },
            Cancelar: function() {
                $( this ).dialog( "close" );
            }
        }
    });

    function planificarMetricas(){
        // Se asigna a td la celda que ha sido presionada para proyectar su valor
        td = $(this);
        // Se hace un split sobre el id de la celda para obtener el tipo de celda (unidad o dcto), periodo y temporada
        parametros = td.attr("id").split("_");
        // Se agrega el valor de la celda al input box del dialog
        $("#inputval").val(td.text());
        //$("#inputval").val(numeral().unformat(td.text()));
        // Se customiza el mensaje del dialog en base al tipo de celda que se esta proyectando
        if(parametros[0] == 'unidades')
            $("#dialog_help_msg").text("Ingresar unidades:");
        else if(parametros[0] == 'descuentos')
            $("#dialog_help_msg").text("Ingresar porcentaje (0%-100%):");
        else if(parametros[0] == 'costos')
            $("#dialog_help_msg").text("Ingresar costo unitario:");
        else if(parametros[0] == 'itemprecio')
            $("#dialog_help_msg").text("Ingresar precio blanco:");
        else
            $("#dialog_help_msg").text("Ingresar costo unitario:");
        $( "#dialog-box" ).dialog( "open" );
    }
    
    function tablaDctoUni(data){

        var html_num_periodos = 6;
        var html_tot_vta_n = "";
        var html_tot_ctb_n = "";
        var html_tot_margen = "";
        var html_tot_unidades = "";
        var html = "";
        var html_div_etiquetas = "";

        html += "<table class=\"datagrid\">";
        html += "<thead>";
        html += "<tr>";
        html_div_etiquetas += "<table class=\"datagrid\">";
        html_div_etiquetas += "<thead>";
        html_div_etiquetas += "<tr>";
        html_div_etiquetas += "<th class=\"label\">Año</th>";
        // Se genera la cabecera con los años
        for (var x=0; x<data.periodos.length; x++){
            if ( (x % html_num_periodos) == 0 ){
                if ( data.periodos[x].temporada ){
                    if ( (x % html_num_periodos) == 0 )
                    html += "<th colspan=\"" + html_num_periodos + "\">" + data.periodos[x].tiempo__anio + "</th>";
                }
                else{
                    if ( (data.periodos[x].tiempo__anio % 2) == 0 )
                        html += "<th colspan=\"" + html_num_periodos + "\">" + data.periodos[x].tiempo__anio + "</th>";
                    else
                        html += "<th colspan=\"" + html_num_periodos + "\">" + data.periodos[x].tiempo__anio + "</th>";
                }
            }
        }
        html += "</tr>";
        html += "<tr>";
        html_div_etiquetas += "</tr>";
        html_div_etiquetas += "<tr>";
        html_div_etiquetas += "<th class=\"label\">Periodo</th>";
        // Se genera la fila con los periodos
        for (var x=0; x<data.periodos.length; x++){
            if ( data.periodos[x].temporada ){
                html += "<th class=\"plan\">" + data.periodos[x].nombre + "</th>";
            }
            else{
                if ( (data.periodos[x].tiempo__anio % 2) == 0 )
                    html += "<th class=\"par\">" + data.periodos[x].nombre + "</th>";
                else
                    html += "<th class=\"impar\">" + data.periodos[x].nombre + "</th>";
            }
        }
        html += "</tr>";
        html += "</thead>";
        html += "<tbody>";
        html_div_etiquetas += "</tr>";
        html_div_etiquetas += "</thead>";
        html_div_etiquetas += "<tbody>";
        
        /* Se itera por cada temporada */
        $.each(data.ventas, function(temporada, ventas) {
            html += "<tr>";
            html += "<td class=\"separador\" colspan=\"24\">-</td>";
            html += "</tr>";

            html_div_etiquetas += "<tr>";
            html_div_etiquetas += "<td class=\"separador\"><b>Temporada: " + temporada + "</b></td>";
            html_div_etiquetas += "</tr>";

            /* Unidades vendidas */
            html += "<tr>";
            html_div_etiquetas += "<tr>";
            html_div_etiquetas += "<td title=\"Unidades vendidas.\" class=\"label\">Unidades</td>";

            $.each(ventas, function(periodo, venta) {
                if( venta.anio == (data.temporada_vigente['anio'] + 1) )
                    html += "<td id=\"unidades_" + venta.anio + "" + venta.periodo + "_" + temporada + "\" class=\"unidades editable plan\">" + numeral(venta.vta_u).format('0,0') + "</td>";
                else{
                    if ( (venta.anio % 2) == 0 )
                        html += "<td class=\"par\">" + numeral(venta.vta_u).format('0,0') + "</td>";
                    else
                        html += "<td class=\"impar\">" + numeral(venta.vta_u).format('0,0') + "</td>";
                }
                    

            });
            html += "</tr>";
            html_div_etiquetas += "</tr>";
            
            /* Descuentos */
            html += "<tr>";
            html_div_etiquetas += "<tr>";
            html_div_etiquetas += "<td title=\"Descuento sobre el precio blanco.\" class=\"label\">Dcto. %</td>";
            $.each(ventas, function(periodo, venta) {
                if( venta.anio == (data.temporada_vigente['anio'] + 1) )
                    html += "<td id=\"descuentos_" + venta.anio + "" + venta.periodo + "_" + temporada + "\" class=\"descuentos editable plan\">" + numeral(venta.dcto).format('0.00%') + "</td>";
                else{
                    if ( (venta.anio % 2) == 0 )
                        html += "<td class=\"par\">" + numeral(venta.dcto).format('0.00%') + "</td>";
                    else
                        html += "<td class=\"impar\">" + numeral(venta.dcto).format('0.00%') + "</td>";
                }
                    
            });
            html += "</tr>";
            html_div_etiquetas += "</tr>";

            /* Precio Real */
            html += "<tr>";
            html_div_etiquetas += "<tr>";
            html_div_etiquetas += "<td title=\"Precio real de venta.\" class=\"label\">Precio Real</td>";
            $.each(ventas, function(periodo, venta) {
                if( venta.anio == (data.temporada_vigente['anio'] + 1) )
                    html += "<td class=\"plan\">" + numeral(venta.precio_real).format('0,0') + "</td>";
                else{
                    if ( (venta.anio % 2) == 0 )
                        html += "<td class=\"par\">" + numeral(venta.precio_real).format('0,0') + "</td>";
                    else
                        html += "<td class=\"impar\">" + numeral(venta.precio_real).format('0,0') + "</td>";    
                }
            });
            html += "</tr>";
            html_div_etiquetas += "</tr>";

            /* Costo unitario */
            html += "<tr>";
            html_div_etiquetas += "<tr>";
            html_div_etiquetas += "<td title=\"Costo unitario.\" class=\"label\">Costo Uni.</td>";
            $.each(ventas, function(periodo, venta) {
                if( venta.anio == (data.temporada_vigente['anio'] + 1) )
                    html += "<td id=\"costos_" + venta.anio + "" + venta.periodo + "_" + temporada + "\" class=\"costos plan\">" + numeral(venta.costo_u).format('0,0') + "</td>";
                else{
                    if ( (venta.anio % 2) == 0 )
                        html += "<td class=\"par\">" + numeral(venta.costo_u).format('0,0') + "</td>";
                    else
                        html += "<td class=\"impar\">" + numeral(venta.costo_u).format('0,0') + "</td>";
                }
                    
            });
            html += "</tr>";
            html_div_etiquetas += "</tr>";

            /* Venta neta */
            html += "<tr>";
            html_div_etiquetas += "<tr>";
            html_div_etiquetas += "<td title=\"Venta en pesos.\" class=\"label\">Venta</td>";
            $.each(ventas, function(periodo, venta) {
                if( venta.anio == (data.temporada_vigente['anio'] + 1) )
                    html += "<td class=\"plan\">" + numeral(venta.vta_n).format('0,0') + "</td>";
                else{
                    if ( (venta.anio % 2) == 0 )
                        html += "<td class=\"par\">" + numeral(venta.vta_n).format('0,0') + "</td>";
                    else
                        html += "<td class=\"impar\">" + numeral(venta.vta_n).format('0,0') + "</td>";    
                }
            });
            html += "</tr>";
            html_div_etiquetas += "</tr>";
            
             /* Contribucion */
            html += "<tr>";
            html_div_etiquetas += "<tr>";
            html_div_etiquetas += "<td title=\"Contribucion en pesos.\" class=\"label\">Contribuci&oacute;n</td>";
            $.each(ventas, function(periodo, venta) {
                if( venta.anio == (data.temporada_vigente['anio'] + 1) )
                    html += "<td class=\"plan\">" + numeral(venta.ctb_n).format('0,0') + "</td>";
                else{
                    if ( (venta.anio % 2) == 0 )
                        html += "<td class=\"par\">" + numeral(venta.ctb_n).format('0,0') + "</td>";
                    else
                        html += "<td class=\"impar\">" + numeral(venta.ctb_n).format('0,0') + "</td>";
                }
            });
            html += "</tr>";
            html_div_etiquetas += "</tr>";
            
            /* Margen */
            html += "<tr>";
            html_div_etiquetas += "<tr>";
            html_div_etiquetas += "<td title=\"Margen porcentual.\" class=\"label\">Margen %</td>";
            $.each(ventas, function(periodo, venta) {
                if( venta.anio == (data.temporada_vigente['anio'] + 1) )
                    html += "<td class=\"plan\">" + numeral(venta.margen).format('0.00%') + "</td>";
                else{
                    if ( (venta.anio % 2) == 0 )
                        html += "<td class=\"par\">" + numeral(venta.margen).format('0.00%') + "</td>";
                    else
                        html += "<td class=\"impar\">" + numeral(venta.margen).format('0.00%') + "</td>";
                }
            });
            html += "</tr>";
            html_div_etiquetas += "</tr>";

        });
        
        /* Totales */
        html += "<tr>";
        html += "<td class=\"separador\" colspan=\"24\">-</td>";
        html += "</tr>";
        html_div_etiquetas += "<tr>";
        html_div_etiquetas += "<td class=\"separador\"><b>Totales:</b></td>";
        html_div_etiquetas += "</tr>";
        for (var x=0; x<data.periodos.length; x++){
            var total_unidades = 0;
            var total_vta_n = 0;
            var total_ctb_n = 0;
            var total_margen = 0;
            $.each(data.ventas, function(temporada, ventas) {
                $.each(ventas, function(periodo, venta) {
                    if (periodo == (data.periodos[x].tiempo__anio + " " + data.periodos[x].nombre)){
                        total_unidades += parseFloat(venta.vta_u);
                        total_vta_n += parseFloat(venta.vta_n);
                        total_ctb_n += parseFloat(venta.ctb_n);
                        return false;
                    }
                });

            });
            if (total_vta_n != 0)
                total_margen = total_ctb_n / total_vta_n;
            if ( data.periodos[x].temporada ){
                html_tot_unidades += "<td class=\"plan\">" + numeral(total_unidades).format('0,0') + "</td>";
                html_tot_vta_n += "<td class=\"plan\">" + numeral(total_vta_n).format('0,0') + "</td>";
                html_tot_ctb_n += "<td class=\"plan\">" + numeral(total_ctb_n).format('0,0') + "</td>";
                html_tot_margen += "<td class=\"plan\">" + numeral(total_margen).format('0.00%') + "</td>";
            }
            else{
                if ( (data.periodos[x].tiempo__anio % 2) == 0 ){
                    html_tot_unidades += "<td class=\"par\">" + numeral(total_unidades).format('0,0') + "</td>";
                    html_tot_vta_n += "<td class=\"par\">" + numeral(total_vta_n).format('0,0') + "</td>";
                    html_tot_ctb_n += "<td class=\"par\">" + numeral(total_ctb_n).format('0,0') + "</td>";
                    html_tot_margen += "<td class=\"par\">" + numeral(total_margen).format('0.00%') + "</td>";
                }
                else{
                    html_tot_unidades += "<td class=\"impar\">" + numeral(total_unidades).format('0,0') + "</td>";
                    html_tot_vta_n += "<td class=\"impar\">" + numeral(total_vta_n).format('0,0') + "</td>";
                    html_tot_ctb_n += "<td class=\"impar\">" + numeral(total_ctb_n).format('0,0') + "</td>";
                    html_tot_margen += "<td class=\"impar\">" + numeral(total_margen).format('0.00%') + "</td>";
                }
            }
        }
        
        html += "<tr class=\"totales\">";
        html += html_tot_unidades;
        html += "</tr>";
        html_div_etiquetas += "<tr class=\"totales\">";
        html_div_etiquetas += "<td title=\"Total unidades temporadas.\" class=\"label\">Unidades</td>";
        html_div_etiquetas += "</tr>";

        html += "<tr class=\"totales\">";
        html += html_tot_vta_n;
        html += "</tr>";
        html_div_etiquetas += "<tr class=\"totales\">";
        html_div_etiquetas += "<td title=\"Total venta temporadas.\" class=\"label\">Venta</td>";
        html_div_etiquetas += "</tr>";

        html += "<tr class=\"totales\">";
        html += html_tot_ctb_n;
        html += "</tr>";
        html_div_etiquetas += "<tr class=\"totales\">";
        html_div_etiquetas += "<td title=\"Total contribuci&oacute;n.\" class=\"label\">Contribuci&oacute;n</td>";
        html_div_etiquetas += "</tr>";

        html += "<tr class=\"totales\">";
        html += html_tot_margen;
        html += "</tr>";
        html_div_etiquetas += "<tr class=\"totales\">";
        html_div_etiquetas += "<td title=\"Total margen.\" class=\"label\">Margen</td>";
        html_div_etiquetas += "</tr>";

        html += "</tbody>";
        html += "</table>";
        html_div_etiquetas += "</tbody>";
        html_div_etiquetas += "</table>";
        $("#tab_proyeccion_datos").html(html);
        $("#tab_proyeccion_etiquetas").html(html_div_etiquetas);
        $(".editable").click(planificarMetricas);
    }

    function tablaDctoUniComp(data){

        var html_num_periodos = 6;
        var html_tot_vta_n = "";
        var html_tot_ctb_n = "";
        var html_tot_margen = "";
        var html_tot_unidades = "";
        var html = "";        
        var html_div_etiquetas = "";

        html += "<table class=\"datagrid\">";
        html += "<thead>";
        html += "<tr>";
        html_div_etiquetas += "<table class=\"datagrid\">";
        html_div_etiquetas += "<thead>";
        html_div_etiquetas += "<tr>";
        html_div_etiquetas += "<th class=\"label\">Año</th>";
        // Se genera la cabecera con los años
        for (var x=0; x<data.periodos.length; x++){
            if ( (x % html_num_periodos) == 0 ){
                if ( data.periodos[x].temporada ){
                    if ( (x % html_num_periodos) == 0 )
                    html += "<th colspan=\"" + html_num_periodos + "\">" + data.periodos[x].tiempo__anio + "</th>";
                }
                else{
                    if ( (data.periodos[x].tiempo__anio % 2) == 0 )
                        html += "<th colspan=\"" + html_num_periodos + "\">" + data.periodos[x].tiempo__anio + "</th>";
                    else
                        html += "<th colspan=\"" + html_num_periodos + "\">" + data.periodos[x].tiempo__anio + "</th>";
                }
            }
        }
        html += "</tr>";
        html += "<tr>";
        html_div_etiquetas += "</tr>";
        html_div_etiquetas += "<tr>";
        html_div_etiquetas += "<th class=\"label\">Periodo</th>";
        // Se genera la fila con los periodos
        for (var x=0; x<data.periodos.length; x++){
            if ( data.periodos[x].temporada ){
                html += "<th class=\"plan\">" + data.periodos[x].nombre + "</th>";
            }
            else{
                if ( (data.periodos[x].tiempo__anio % 2) == 0 )
                    html += "<th class=\"par\">" + data.periodos[x].nombre + "</th>";
                else
                    html += "<th class=\"impar\">" + data.periodos[x].nombre + "</th>";
            }
        }
        html += "</tr>";
        html += "</thead>";
        html += "<tbody>";
        html_div_etiquetas += "</tr>";
        html_div_etiquetas += "</thead>";
        html_div_etiquetas += "<tbody>";
        /* Se itera por cada temporada */
        $.each(data.ventas, function(temporada, ventas) {
            html += "<tr>";
            html += "<td class=\"separador\" colspan=\"24\">-</td>";
            html += "</tr>";
            html_div_etiquetas += "<tr>";
            html_div_etiquetas += "<td class=\"separador\"><b>Temporada: " + temporada + "</b></td>";
            html_div_etiquetas += "</tr>";

            /* Unidades vendidas */
            html += "<tr>";
            html_div_etiquetas += "<tr>";
            html_div_etiquetas += "<td title=\"Unidades vendidas.\" class=\"label\">Unidades</td>";
            $.each(ventas, function(periodo, venta) {
                if( venta.anio == (data.temporada_vigente['anio'] + 1) )
                    html += "<td id=\"unidades_" + venta.anio + "" + venta.periodo + "_" + temporada + "\" class=\"unidades plan\">" + numeral(venta.vta_u).format('0,0') + "</td>";
                else{
                    if ( (venta.anio % 2) == 0 )
                        html += "<td class=\"par\">" + numeral(venta.vta_u).format('0,0') + "</td>";
                    else
                        html += "<td class=\"impar\">" + numeral(venta.vta_u).format('0,0') + "</td>";
                }
                    

            });
            html += "</tr>";
            html_div_etiquetas += "</tr>";
            
            /* Descuentos */
            html += "<tr>";
            html_div_etiquetas += "<tr>";
            html_div_etiquetas += "<td title=\"Descuento sobre el precio blanco.\" class=\"label\">Descuento %</td>";
            $.each(ventas, function(periodo, venta) {
                if( venta.anio == (data.temporada_vigente['anio'] + 1) )
                    html += "<td id=\"descuentos_" + venta.anio + "" + venta.periodo + "_" + temporada + "\" class=\"descuentos plan\">" + numeral(venta.dcto).format('0.00%') + "</td>";
                else{
                    if ( (venta.anio % 2) == 0 )
                        html += "<td class=\"par\">" + numeral(venta.dcto).format('0.00%') + "</td>";
                    else
                        html += "<td class=\"impar\">" + numeral(venta.dcto).format('0.00%') + "</td>";
                }
                    
            });
            html += "</tr>";
            html_div_etiquetas += "</tr>";

            /* Precio Real */
            html += "<tr>";
            html_div_etiquetas += "<tr>";
            html_div_etiquetas += "<td title=\"Precio real de venta.\" class=\"label\">Precio Real</td>";
            $.each(ventas, function(periodo, venta) {
                if( venta.anio == (data.temporada_vigente['anio'] + 1) )
                    html += "<td class=\"plan\">" + numeral(venta.precio_real).format('0,0') + "</td>";
                else{
                    if ( (venta.anio % 2) == 0 )
                        html += "<td class=\"par\">" + numeral(venta.precio_real).format('0,0') + "</td>";
                    else
                        html += "<td class=\"impar\">" + numeral(venta.precio_real).format('0,0') + "</td>";    
                }
            });
            html += "</tr>";
            html_div_etiquetas += "</tr>";

            /* Costo unitario */
            html += "<tr>";
            html_div_etiquetas += "<tr>";
            html_div_etiquetas += "<td title=\"Costo unitario.\" class=\"label\">Costo Unitario</td>";
            $.each(ventas, function(periodo, venta) {
                if( venta.anio == (data.temporada_vigente['anio'] + 1) )
                    html += "<td id=\"costos_" + venta.anio + "" + venta.periodo + "_" + temporada + "\" class=\"costos plan\">" + numeral(venta.costo_u).format('0,0') + "</td>";
                else{
                    if ( (venta.anio % 2) == 0 )
                        html += "<td class=\"par\">" + numeral(venta.costo_u).format('0,0') + "</td>";
                    else
                        html += "<td class=\"impar\">" + numeral(venta.costo_u).format('0,0') + "</td>";
                }
                    
            });
            html += "</tr>";
            html_div_etiquetas += "</tr>";

            /* Venta neta */
            html += "<tr>";
            html_div_etiquetas += "<tr>";
            html_div_etiquetas += "<td title=\"Venta en pesos.\" class=\"label\">Venta</td>";
            $.each(ventas, function(periodo, venta) {
                if( venta.anio == (data.temporada_vigente['anio'] + 1) )
                    html += "<td class=\"plan\">" + numeral(venta.vta_n).format('0,0') + "</td>";
                else{
                    if ( (venta.anio % 2) == 0 )
                        html += "<td class=\"par\">" + numeral(venta.vta_n).format('0,0') + "</td>";
                    else
                        html += "<td class=\"impar\">" + numeral(venta.vta_n).format('0,0') + "</td>";    
                }
            });
            html += "</tr>";
            html_div_etiquetas += "</tr>";
            
             /* Contribucion */
            html += "<tr>";
            html_div_etiquetas += "<tr>";
            html_div_etiquetas += "<td title=\"Contribucion en pesos.\" class=\"label\">Contribuci&oacute;n</td>";
            $.each(ventas, function(periodo, venta) {
                if( venta.anio == (data.temporada_vigente['anio'] + 1) )
                    html += "<td class=\"plan\">" + numeral(venta.ctb_n).format('0,0') + "</td>";
                else{
                    if ( (venta.anio % 2) == 0 )
                        html += "<td class=\"par\">" + numeral(venta.ctb_n).format('0,0') + "</td>";
                    else
                        html += "<td class=\"impar\">" + numeral(venta.ctb_n).format('0,0') + "</td>";
                }
            });
            html += "</tr>";
            html_div_etiquetas += "</tr>";

            /* Margen */
            html += "<tr>";
            html_div_etiquetas += "<tr>";
            html_div_etiquetas += "<td title=\"Margen porcentual.\" class=\"label\">Margen %</td>";
            $.each(ventas, function(periodo, venta) {
                if( venta.anio == (data.temporada_vigente['anio'] + 1) )
                    html += "<td class=\"plan\">" + numeral(venta.margen).format('0.00%') + "</td>";
                else{
                    if ( (venta.anio % 2) == 0 )
                        html += "<td class=\"par\">" + numeral(venta.margen).format('0.00%') + "</td>";
                    else
                        html += "<td class=\"impar\">" + numeral(venta.margen).format('0.00%') + "</td>";
                }
            });
            html += "</tr>";
            html_div_etiquetas += "</tr>";

        });
        
        /* Totales */
        html += "<tr>";
        html += "<td class=\"separador\" colspan=\"24\">-</td>";
        html += "</tr>";
        html_div_etiquetas += "<tr>";
        html_div_etiquetas += "<td class=\"separador\"><b>Totales:</b></td>";
        html_div_etiquetas += "</tr>";
        for (var x=0; x<data.periodos.length; x++){
            var total_unidades = 0;
            var total_vta_n = 0;
            var total_ctb_n = 0;
            var total_margen = 0;
            $.each(data.ventas, function(temporada, ventas) {
                $.each(ventas, function(periodo, venta) {
                    if (periodo == (data.periodos[x].tiempo__anio + " " + data.periodos[x].nombre)){
                        total_unidades += parseFloat(venta.vta_u);
                        total_vta_n += parseFloat(venta.vta_n);
                        total_ctb_n += parseFloat(venta.ctb_n);
                        return false;
                    }
                });

            });
            if (total_vta_n != 0)
                total_margen = total_ctb_n / total_vta_n;
            if ( data.periodos[x].temporada ){
                html_tot_unidades += "<td class=\"plan\">" + numeral(total_unidades).format('0,0') + "</td>";
                html_tot_vta_n += "<td class=\"plan\">" + numeral(total_vta_n).format('0,0') + "</td>";
                html_tot_ctb_n += "<td class=\"plan\">" + numeral(total_ctb_n).format('0,0') + "</td>";
                html_tot_margen += "<td class=\"plan\">" + numeral(total_margen).format('0.00%') + "</td>";
            }
            else{
                if ( (data.periodos[x].tiempo__anio % 2) == 0 ){
                    html_tot_unidades += "<td class=\"par\">" + numeral(total_unidades).format('0,0') + "</td>";
                    html_tot_vta_n += "<td class=\"par\">" + numeral(total_vta_n).format('0,0') + "</td>";
                    html_tot_ctb_n += "<td class=\"par\">" + numeral(total_ctb_n).format('0,0') + "</td>";
                    html_tot_margen += "<td class=\"par\">" + numeral(total_margen).format('0.00%') + "</td>";
                }
                else{
                    html_tot_unidades += "<td class=\"impar\">" + numeral(total_unidades).format('0,0') + "</td>";
                    html_tot_vta_n += "<td class=\"impar\">" + numeral(total_vta_n).format('0,0') + "</td>";
                    html_tot_ctb_n += "<td class=\"impar\">" + numeral(total_ctb_n).format('0,0') + "</td>";
                    html_tot_margen += "<td class=\"impar\">" + numeral(total_margen).format('0.00%') + "</td>";
                }
            }
        }
        html += "<tr class=\"totales\">";
        html += html_tot_unidades;
        html += "</tr>";
        html_div_etiquetas += "<tr class=\"totales\">";
        html_div_etiquetas += "<td title=\"Total unidades temporadas.\" class=\"label\">Unidades</td>";
        html_div_etiquetas += "</tr>";

        html += "<tr class=\"totales\">";
        html += html_tot_vta_n;
        html += "</tr>";
        html_div_etiquetas += "<tr class=\"totales\">";
        html_div_etiquetas += "<td title=\"Total venta temporadas.\" class=\"label\">Venta</td>";
        html_div_etiquetas += "</tr>";

        html += "<tr class=\"totales\">";
        html += html_tot_ctb_n;
        html += "</tr>";
        html_div_etiquetas += "<tr class=\"totales\">";
        html_div_etiquetas += "<td title=\"Total contribuci&oacute;n.\" class=\"label\">Contribuci&oacute;n</td>";
        html_div_etiquetas += "</tr>";

        html += "<tr class=\"totales\">";
        html += html_tot_margen;
        html += "</tr>";
        html_div_etiquetas += "<tr class=\"totales\">";
        html_div_etiquetas += "<td title=\"Total margen.\" class=\"label\">Margen</td>";
        html_div_etiquetas += "</tr>";

        html += "</tbody>";
        html += "</table>";
        html_div_etiquetas += "</tbody>";
        html_div_etiquetas += "</table>";
        $("#tab_comparativo_etiquetas").html(html_div_etiquetas);
        $("#tab_comparativo_datos").html(html);
    }

    // Recalcula todas las metricas de todo el objeto de planificacion
    function actualizarPlanificacion(){
        $.each(planificacion.ventas, function(temporada, ventas) {
            $.each(ventas, function(periodo, venta) {
                if( venta.anio == (planificacion.temporada_vigente['anio'] + 1) ){
                    // Costo unitario               
                    venta.costo_u = planificacion.itemplan.costo_unitario
                    
                    // Venta Neta
                    venta.vta_n = parseFloat( (1 - venta.dcto) * venta.vta_u * planificacion.itemplan.precio / 1.19 );
                        
                    // Contribucion
                    venta.ctb_n = parseFloat(venta.vta_n - (venta.vta_u * venta.costo_u)).toFixed(1);
                    
                    // Margen                   
                    if(venta.vta_n != 0)
                        venta.margen = venta.ctb_n / venta.vta_n;

                    // Precio Real
                    if(venta.vta_n != 0)
                        venta.precio_real = venta.vta_n / venta.vta_u * 1.19;
                }
            });
        });
        tablaDctoUni(planificacion);
    }

    // Recalcula las principales metricas un periodo del objeto de planificacion
    function actualizarPerPlanificacion(metrica, periodo, temporada){
        // Si se proyectaron las unidades, se entra al ciclo if
        if(metrica == 'unidades'){
            $.each(planificacion.ventas[temporada], function(periodo_venta, venta) {
                if((venta.anio + "" + venta.periodo) == periodo.trim()){
                    // Se asigna tipo temporal 3 (modificada no guardada)
                    venta.tipo = 3;
                    // Se lee el valor de la celda y se quita su formato
                    venta.vta_u = numeral().unformat(td.text());

                    // Venta Neta
                    venta.vta_n = parseFloat( (1 - venta.dcto) * venta.vta_u * planificacion.itemplan.precio / 1.19 );
                    
                    // Contribucion
                    venta.ctb_n = parseFloat(venta.vta_n - (venta.vta_u * venta.costo_u)).toFixed(1);
                    
                    // Margen                   
                    if(venta.vta_n != 0)
                        venta.margen = venta.ctb_n / venta.vta_n;

                    // Precio Real
                    if(venta.vta_n != 0)
                        venta.precio_real = venta.vta_n / venta.vta_u * 1.19;

                    tablaDctoUni(planificacion);
                    return false;
                }
            });
        }
        // Si se proyectaron los descuentos, se entra al ciclo if
        else if(metrica == 'descuentos'){
            $.each(planificacion.ventas[temporada], function(periodo_venta, venta) {
                if((venta.anio + "" + venta.periodo) == periodo.trim()){
                    // Se asigna tipo temporal 3 (modificada no guardada)
                    venta.tipo = 3;
                    
                    // Se lee el valor de su celda y se quita su formato
                    venta.dcto = numeral().unformat(td.text());
                    
                    // Venta Neta
                    venta.vta_n = parseFloat( (1 - venta.dcto) * venta.vta_u * planificacion.itemplan.precio / 1.19 );
                    
                    // Contribucion
                    venta.ctb_n = parseFloat(venta.vta_n - (venta.vta_u * venta.costo_u)).toFixed(1);
                    
                    // Margen                   
                    if(venta.vta_n != 0)
                        venta.margen = venta.ctb_n / venta.vta_n;

                    // Precio Real
                    if(venta.vta_n != 0)
                        venta.precio_real = venta.vta_n / venta.vta_u * 1.19;

                    tablaDctoUni(planificacion);
                    return false;
                }
            });
        }
        // Si se planifico el costo unitario, se entra al ciclo if
        else if(metrica == 'costos'){
            $.each(planificacion.ventas[temporada], function(periodo_venta, venta) {
                if((venta.anio + "" + venta.periodo) == periodo.trim()){
                    // Se asigna tipo temporal 3 (modificada no guardada)
                    venta.tipo = 3;
                    // Se lee el valor de la celda y se quita su formato
                    venta.costo_u = numeral().unformat(td.text());
                    
                    // Venta Neta
                    venta.vta_n = parseFloat( (1 - venta.dcto) * venta.vta_u * planificacion.itemplan.precio / 1.19 );
                    
                    // Contribucion
                    venta.ctb_n = parseFloat(venta.vta_n - (venta.vta_u * venta.costo_u)).toFixed(1);
                    
                    // Margen                   
                    if(venta.vta_n != 0)
                        venta.margen = venta.ctb_n / venta.vta_n;

                    // Precio Real
                    if(venta.vta_n != 0)
                        venta.precio_real = venta.vta_n / venta.vta_u * 1.19;

                    tablaDctoUni(planificacion);
                    return false;
                }
            });
        }
    }
    $("#combo_resultado").change(buscarTablaPlanificacionAJAX);
    $("[id^=button_cat_comp_]").click(function(){
        var id_item;
        var id_this = $(this).attr("id");
        // Se divide el ID del elemento BUTTON para generar el ID del elemento SELECT asociado
        // El cuarto valor del array es el ID asociado que se busca ya que el ID del elemento sigue la forma button_cat_comp_X
        id_button_array = id_this.split("_");
        id_item = $("#combo_cat_comp_" + id_button_array[3]).val();
        if ( id_item == -1 ){
            alert("Seleccione una opción válida.");
            return 0;
        }
        buscarTablaComparacionAJAX_par(id_item);
    });
    $("[id^=combo_cat_plan_]").change(buscarCategoriaPlanificacion);
    $("[id^=combo_cat_comp_]").change(buscarCategoriaComparacion);
    buscarEstadisticasPlan();
});

</script>

{% endblock %}
