{% extends "base.html" %}
{% load humanize %}

{% block topbar %}

{% include "planes/menu.html" %}

{% endblock %}

{% block username %}
	Bienvenido {{ full_name }} !
{% endblock %}

{% block sidebar %}
<!-- Menu general -->
<div class="pure-menu pure-menu-open">
    <a class="pure-menu-heading">M&oacute;dulos</a>
    <ul>
        <li><a href="{% url 'planes:plan_detail' plan.id %}">Volver</a></li>
    </ul>
</div>
<p></p>
<!-- Menu general -->
<form class="pure-form pure-form" id="save_form" method="post" action="/planes/plan/savestage1/">
    {% csrf_token %}
    <input id="input_json_data" type="hidden" name="plan" value="" />
</form>
<!-- Menu de acciones -->
<div class="pure-menu pure-menu-open">
    <a class="pure-menu-heading">Acciones</a>
    <ul>
        <li><a id="btnExpand">Expandir Nodos</a></li>
        <li><a id="btnCollapse">Collapsar Nodos</a></li>
        <li><a id="btnSave">Guardar &Aacute;rbol</a></li>
    </ul>
</div>        
<!-- Menu de acciones -->
{% endblock %}

{% block content %}
<h3>Arbol de Planificaci&oacute;n</h3>
<div style="width:70%; float:left">
    {% if plan.estado == 1 %}<strong>Cuidado: Este árbol ya ha sido definido. Si presiona el botón guardar, reemplazará permanentemente la versión anterior.</strong>{% endif %}<span id="msg_visibles"></span>
    <div id="itemstree">
        <ul id="treeData" style="display: none;">
            {% for obj in items %}
            <li id="{{ obj.id }}" class="folder lazy"><a href="{% url 'categorias:categoria_detail' obj.id %}" target="_self">{{ obj.nombre }}</a>
            {% endfor %}
        </ul>
    </div>
</div>
<div style="width:25%; float:left; padding-left:10px;">
    <form class="pure-form pure-form" id="save_form" method="post" action="/planes/plan/savestage1/">
        {% csrf_token %}
        <input id="input_json_data" type="hidden" name="plan" value="" />
    </form>
</div>
{% endblock %}

{% block js %}
<script>

$(function() {

    // Contar nodos a planificar (visibles)
    function definirVisibles(){
        var html = "";
        var nodos_planificables = 0;
        var nodos_visibles = 0;
        $("#itemstree").fancytree("getTree").visit(function(node){
            if(!(typeof node.extraClasses == "undefined") && (node.extraClasses == "planificable")){
                if (node.isVisible()){
                    if (node.hasChildren()){
                        if (!node.isExpanded()){
                            nodos_planificables++;
                        }
                    }
                    else{
                        nodos_planificables++;
                    }
                    
                }
            }
            if (node.isVisible()){
                nodos_visibles++;
            }
            
        });
        html += "<p>Items Totales: " + nodos_visibles + " | Items a Planificar: " + nodos_planificables + "</p>";
        $("#msg_visibles").html(html);
        return false;
    }

    $("#itemstree").fancytree({
        
        lazyload: function(e, data){
        // return a source in 'data.result'
            data.result = {
            url: "{% url 'categorias:item_nodesearch' %}",
            data: {key: data.node.key}
            };
        },
        postProcess: function(event,data){
            //console.log(data);
        },
        expand: function(event, data){
            definirVisibles();
        },
        collapse: function(event, data){
            definirVisibles();
        },
        
    });

    // Expandir todos los nodos
    $("#btnExpand").click(function(){
        $("#itemstree").fancytree("getRootNode").visit(function(node){
            node.setExpanded(true);
        });
        return false;
    });

    $("#btnCollapse").click(function(){
        $("#itemstree").fancytree("getRootNode").visit(function(node){
            node.setExpanded(false);
        });
        return false;
    });

    /*
        Enviar por POST dos campos, el ID del plan y un string de IDs de items
    */

    $("#btnSave").click(function(){
        var nodos_lista = [];
        var nodos_planificables_lista = [];
        var plan = parseInt({{plan.id}});
        /* Se obtiene la lista de ID de nodos que deben ser planificados/proyectados */
        $("#itemstree").fancytree("getTree").visit(function(node){
            /*
            if (node.isVisible()){                
                if(!(typeof node.extraClasses == "undefined") && (node.extraClasses == "planificable")){
                    if (node.hasChildren()){
                        if (!node.isExpanded()){
                            nodos_lista.push(parseInt(node.key));
                        }
                    }
                    else{
                        nodos_lista.push(parseInt(node.key));    
                    }
                }
                
            }
            */
            if (node.isVisible()){
                nodos_lista.push(parseInt(node.key));
                if ( (node.extraClasses == "planificable") ){
                    if (node.hasChildren()){
                        if (!node.isExpanded()){
                            nodos_planificables_lista.push(parseInt(node.key));
                        }
                    }
                    else{
                        nodos_planificables_lista.push(parseInt(node.key));
                    }
                }
            }
        });
        json_data = JSON.stringify({
            plan: plan,
            items: nodos_lista,
            items_planificables: nodos_planificables_lista
        });
        console.log(json_data);
        $("#input_json_data").val(json_data);
        $("#save_form").submit();
    });

    definirVisibles();
});

</script>

{% endblock %}
