{% extends "base.html" %}

{% block topbar %}

{% include "planes/menu.html" %}

{% endblock %}

{% block username %}
	Bienvenido {{ full_name }} !
{% endblock %}

{% block sidebar %}
<div class="pure-menu pure-menu-open">
    <a class="pure-menu-heading">M&oacute;dulos</a>
    <ul>
    	<li><a href="{% url 'planes:plan_detail' plan.id %}">Volver</a></li>
	</ul>
</div>
<!-- Seccion con parametros de busqueda del item a proyectar  -->
<div class="caja_bordes" style="padding: 0px 0px; float:left; width:100%;">
    <a class="caja-header">Resumen</a>
    <table style="width:100%;">
        <tr>
            <td><label>TEMPORADA</label></td>
        </tr>
        <tr>
            <td>
                <select id="combo_cat_proy_{{ categoria.id }}" class="buscador">
                    <option value="-1" selected></option>
                    {% for temporada in temporadas %}
                        <option value="{{ item.id }}">{{ temporada.nombre }}</option>
                    {% endfor %}
                    <option value="-2">TOTAL</option>
                </select>
            </td>
        </tr>
    </table>
</div>
{% endblock %}

{% block content %}

<div style="float:left; width:40%;">
	<div style="float:left; width:100%;"><h3>Plan</h3></div>
	<div class="left_label">Nombre</div>
	<div class="middle_label">:</div>
	<div class="right_label">{{ plan.nombre }}</div>

	<div class="left_label">Año</div>
	<div class="middle_label">:</div>
	<div class="right_label">{{ plan.anio }}</div>
	
	<div class="left_label">Temporada</div>
	<div class="middle_label">:</div>
	<div class="right_label">{{ plan.temporada }}</div>

	<div class="left_label">Responsable</div>
	<div class="middle_label">:</div>
	<div class="right_label">{{ plan.usuario_creador.first_name }} {{ plan.usuario_creador.last_name }}</div>
</div>

<div style="padding-top:10px;float:left; width:100%;">
	<div class="column">
		<div class="portlet">
			<div class="portlet-header">Venta</div>
			<div class="portlet-content" id="venta-chart">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
		</div>
		<div class="portlet">
			<div class="portlet-header">Unidades</div>
			<div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
		</div>
	</div>
	<div class="column">
		<div class="portlet">
			<div class="portlet-header">Contribuci&oacute;n</div>
			<div class="portlet-content" id="contribucion-chart">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
		</div>
		<div class="portlet">
			<div class="portlet-header">Precio</div>
			<div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
		</div>
	</div>
</div>
{% endblock %}

{% block js %}
<script>

$(function() {

	$( ".column" ).sortable({
		connectWith: ".column"
	});

	$( ".portlet" ).addClass( "ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" )
		.find( ".portlet-header" )
		.addClass( "ui-widget-header ui-corner-all" )
		.prepend( "<span class='ui-icon ui-icon-minusthick'></span>")
		.end()
		.find( ".portlet-content" );

	$( ".portlet-header .ui-icon" ).click(function() {
		$( this ).toggleClass( "ui-icon-minusthick" ).toggleClass( "ui-icon-plusthick" );
		$( this ).parents( ".portlet:first" ).find( ".portlet-content" ).toggle();
	});

	$( ".column" ).disableSelection();

	/*
	
	*/

});
	google.load("visualization", "1", {packages:["corechart"]});
	google.setOnLoadCallback(drawChart);
	function drawChart() {
		var data_ventas = google.visualization.arrayToDataTable([
		['Year', 'Sales'],
		['2011',  1000],
		['2012',  1170],
		['2013',  660],
		['Plan',  1630]
		]);

		var data_contribucion = google.visualization.arrayToDataTable([
		['Year', 'Contribución'],
		['2011',  100],
		['2012',  177],
		['2013',  100],
		['Plan',  235]
		]);

		var options = {
			
		};

		var chart_ventas = new google.visualization.ColumnChart(document.getElementById('venta-chart'));
		var chart_contribucion = new google.visualization.ColumnChart(document.getElementById('contribucion-chart'));
		chart_ventas.draw(data_ventas, options);
		chart_contribucion.draw(data_contribucion, options);
	}
</script>
{% endblock %}