{% extends "base.html" %}

{% block topbar %}

{% include "planes/menu.html" %}

{% endblock %}

{% block username %}
	Bienvenido {{ full_name }} !
{% endblock %}

{% block sidebar %}
<div class="pure-menu pure-menu-open">
    <a class="pure-menu-heading">M&oacute;dulos</a>
    <ul>
	    {% if admin %}
	    <li><a href="{% url 'planes:temporada_update' temporada.id %}">Editar</a></li>
	    <li><a href="{% url 'planes:temporada_delete' temporada.id %}">Eliminar</a></li>
	    {% endif %}
	    <li><a href="{% url 'planes:temporada_list' %}">Volver</a></li>
	</ul>
</div>
{% endblock %}

{% block content %}

<div style="float:left; width:40%;">
	<div style="float:left; width:100%;"><h3>Temporada</h3></div>
	<div class="left_label">Nombre</div>
	<div class="middle_label">:</div>
	<div class="right_label">{{ temporada.nombre }}</div>
	<div class="left_label">Periodos</div>
	<div class="middle_label">:</div>
	<div class="right_label">
		{% for periodo in temporada.periodo.all %}
			{{ periodo }} 
		{% endfor %}
	</div>
	<div class="left_label">Organizaci&oacute;n</div>
	<div class="middle_label">:</div>
	<div class="right_label">{{ temporada.organizacion }}</div>
</div>

{% endblock %}
