/*
	COLORES DEL TEMA

	ROJO: #ef4929;
	CAFE LETRAS: #9B9181A;
	GRIS CLARO (FONDO): #f5f5ed;

*/
body
{
	margin:0;
	padding:0;
	border:0;			/* This removes the border around the viewport in old versions of IE */
	width:100%;
	color:#9b9181;
	background:#f5f5ed;
	min-width:600px;    /* Minimum width of layout - remove line if not required */
	/* The min-width property does not work in old versions of Internet Explorer */
	font-size:70%;
	font-family:sans-serif;
}
a
{
	color:#ef4929;
}
a:hover{
	color:#9b9181;
}

p
{
	margin:.4em 0 .8em 0;
	padding:0;
}

h3
{
	display: block;
	padding: .3em 0;
	font-size: 125%;
	border-bottom: 1px solid #9b9181;
}

/* Header styles */
#header {
	clear:both;
	float:left;
	width:100%;
	border-bottom:2px solid #ef4929;
}

#header li a{
	color:#9b9181;
}
/* Opciones para el menu horizontal superior de la app */
.top-menu {	
	padding-bottom:2px;
}

.top-menu li a {
	padding-left: 10px;
	padding-right: 10px;
}

.opcion-seleccionada {
	font-weight: bolder;
	background-color: #eee;
}

/* column container */
.colmask {
	position:relative;		/* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	overflow:hidden;	/* This chops off any overhanging divs */
}
/* 2 column left menu settings */
.leftmenu {
}
.leftmenu .colright {
	float:left;
	width:200%;
	position:relative;
	left:200px;
	/*border-left:2px solid #ef4929;*/
	/*border-left:4px solid #D8D2C8;*/
}
.leftmenu .col1wrap {
	float:right;
	width:50%;
	position:relative;
	right:200px;
	padding-bottom:1em;
}
.leftmenu .col1 {
	padding: 15px 0px;
	margin:0 15px 0 215px;
	position:relative;
	right:100%;
	overflow:hidden;
}
.leftmenu .col1 a:hover{
	
}
.leftmenu .col2 {
	padding: 15px 0px;
	float:left;
	width:170px;
	position:relative;
	right:185px;
}
/* Footer styles */
#footer {
	clear:both;
	float:left;
	width:100%;
	border-top:2px solid #ef4929;
}
#footer p {
	padding:10px;
	margin:0;
	color:#777;
}
/* --> */
.box_content{
	text-align: center;
	margin-bottom: 5px;
	border: 2px solid #fff;
	border-radius: 4px 4px 4px 4px;
	color: #fff;
	background-color: #0078e7;
	padding: 3px 3px;
}

div.floating-left-menu {
	position:fixed;
	z-index:100;
}

/* Para los select de los buscadores de items para proyeccion/planificacion */
.buscador
{
	width: 100%;
}

input .proybox{
	width:2em;
}

div .left_label {
	float:left;
	width:40%;
}

div .middle_label {
	float:left;
	width:5%;
}

div .right_label {
	float:left;
	width:55%;
}

.caja_bordes {
	background: white;
	border: 1px solid #b7b7b7;
	margin: 10px 0px;
	padding:5px 10px;
}
.caja_bordes .caja-header{
	color: #565d64;
	text-transform: uppercase;
	font-size: 90%;
	margin-top: .5em;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dfdfdf;
	display: block;
	line-height: 1.5em;
	padding: 5px 20px;
}

/* Para las cajas de mensajes: info, warning, success y error */
.msg_info {
	color: #00529B;
	background-color: #BDE5F8;
}
.msg_success {
	color: #4F8A10;
	background-color: #DFF2BF;
}
.msg_warning {
	color: #9F6000;
	background-color: #FEEFB3;
}
.msg_error {
	color: #D8000C;
	background-color: #FFBABA;
}

/* Configuracion general de la caja de mensajes */
#caja-mensajes
{
	width: 700px;
	height: 35px;
	background-color: #DFF2BF;
	text-align: center;
	vertical-align: middle;
	-webkit-border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	padding: 5px 3px 0px 3px;
	position: fixed;
  	top: 0px;
  	left: 50%;
  	margin-left: -350px;
  	z-index: 100;
}

/* Para listas de objetos (item list, categorias list, etc.) */
ol
{
	counter-reset: li; /* Initiate a counter */
	list-style: none; /* Remove default numbering */
	*list-style: decimal; /* Keep using default numbering for IE6/7 */
	font: 15px 'trebuchet MS', 'lucida sans';
	padding: 0;
	margin-bottom: 4em;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

ol ol
{
	margin: 0 0 0 2em; /* Add some left margin for inner lists */
}

.rectangle-list a
{
	position: relative;
	display: block;
	padding: .4em .4em .4em .8em;
	*padding: .4em;
	margin: .5em 0 .5em 2.5em;
	background: #ddd;
	color: #444;
	text-decoration: none;
	transition: all .3s ease-out;	
}

.rectangle-list a:hover
{
	background: #eee;
}	

.rectangle-list a:before
{
	content: counter(li);
	counter-increment: li;
	position: absolute;	
	left: -2.5em;
	top: 50%;
	margin-top: -1em;
	background: #87ceeb;
	height: 2em;
	width: 2em;
	line-height: 2em;
	text-align: center;
	font-weight: bold;
}

.rectangle-list a:after
{
	position: absolute;	
	content: '';
	border: .5em solid transparent;
	left: -1em;
	top: 50%;
	margin-top: -.5em;
	transition: all .3s ease-out;				
}

.rectangle-list a:hover:after
{
	left: -.5em;
	border-left-color: #fa8072;				
}	

/* Ejemplo de loading gif desde http://jsfiddle.net/jonathansampson/VpDUG/170/ */
#dvLoading
{
	display:    none;
	position:   fixed;
	z-index:    1000;
	top:        0;
	left:       0;
	height:     100%;
	width:      100%;
	background: rgba( 255, 255, 255, .8 ) 
	url('../images/loading.gif') 
	50% 50% 
	no-repeat;
}