{% extends "base.html" %}

{% block topbar %}

{% include "administracion/menu.html" %}

{% endblock %}

{% block username %}
Bienvenido {{ full_name }} !
{% endblock %}

{% block sidebar %}
<div class="pure-menu pure-menu-open">
    <a class="pure-menu-heading">Usuarios</a>
    <ul>
    	<li><a href="../../accounts/list/">Volver</a></li>
	</ul>
</div>
{% endblock %}

{% block content %}
	<h3>Usuarios</h2>
	<div class="msg_info" style="width:50%;">El usuario ha sido creado exit&oacute;samente!</div>
	
{% endblock %}