{% extends "base.html" %}

{% block topbar %}

{% include "administracion/menu.html" %}

{% endblock %}

{% block username %}
	{{ full_name }}
{% endblock %}

{% block sidebar %}
<h4>Usuarios</h4>
<ul>
    <li><a href="../../administracion/index/">Cancelar</a></li>
</ul>
{% endblock %}

{% block content %}
	<h2>Crear Usuario</h2>
	<form class="pure-form pure-form-aligned" action="/accounts/register/" method="post">
		{% csrf_token %}

	    {% for field in form %}
	        <div class="fieldWrapper pure-control-group">
	            {{ field.label_tag }} {{ field }}
        		{% for error in field.errors %}
    				<span class="msg_error">(*) {{ error }}</span>
    			{% endfor %}
	        </div>
	    {% endfor %} 
		<div class="fieldWrapper pure-control-group" style="width:30%;">
			{% for error in form.non_field_errors %}
				<p class="msg_error">(*) {{ error }}</p>
			{% endfor %}
   		</div>       
	    <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </div>
	</form>
{% endblock %}