{% extends "base.html" %}

{% block topbar %}

{% include "planes/menu.html" %}

{% endblock %}

{% block username %}
	Bienvenido {{ full_name }} !
{% endblock %}

{% block sidebar %}
<h4>M&oacute;dulos</h4>
<ul>
    <li><a href="../../../plan/detail/{{ plan.id }}">Volver</a></li>
</ul>
{% endblock %}

{% block content %}
{% if msg %}
<h3>Proyectar Información</h3>
<div class="msg_warning">
    {{ msg }}
</div>
{% else %}
<div style="padding-bottom:10px;">
    <div style="float:left; width:100%">
        <h3>Proyectar</h3>
        <p>Totales: {{ num_items_tot }} | Proyectados: {{ num_items_pro }} | Pendientes: {{ num_items_nopro }}</p>  
    </div>
    <label>Buscar por:</label>
    <select id="cat_select">
        <option value="-1"></option>
        {% for categoria in categorias %}
            <option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
        {% endfor %}
    </select>
    <label>Art&iacute;culo:</label>
    <select id="itemplan_select">
        <option value="-1"></option>
    </select>
</div>

<div style="width:75%; float:left">
    <div style="width:100%; float:left">
        <form id="proyform" class="pure-form" method="post" action="/planes/plan/savestage2/">
            {% csrf_token %}
            <div id="tab_dcto_uni" style="float:left; width:100%;">
            </div>
            <div id="tab_ven_mar_con" style="float:left; width:100%;">
            </div>
            <div style="width:100%; float:left; padding-top:10px; padding-bottom:10px;">
                <input id="input_json_data" type="hidden" name="proyeccion" value="" />
                <button id="btnSave" type="submit" class="pure-button pure-button-primary" style="display:none;">Guardar</button>
            </div>
        </form>
        <div id="dialog-box" title="Ingresar Valor">
            <input id="inputval" type="text" style="width:8em">
        </div>
    </div>
</div>
<div style="width:20%; float:left; padding-left:10px;">
    
</div>

{% endif%}

{% endblock %}

{% block js %}
<script>

$(function() {

    $("#btnSave").click(function(){
        
        var plan = parseInt({{plan.id}});
        var itemplan = parseInt({{items.0.id}});
        
        json_data = JSON.stringify({plan: plan, itemplan: itemplan});
        $("#input_json_data").val(json_data);
        //console.log(json_data);
        
        //$("#save_form").submit();
    });

    /*
        Controla los cambios hechos sobre el combobox de categoria.
        Gatilla una busqueda de objetos itemplan que pertenecen a la categoria
        y lo lista en el combobox de objetos itemplan.
    */
    $("#cat_select").change(function(){
        var id_cat = $(this).val();
        var id_plan = parseInt({{plan.id}});
        $.ajax({
            data: {'id_cat':id_cat, 'id_plan':id_plan},
            url: '/planes/plan/itemplansearchlist/',
            type: 'get',
            success: function(data){
                html = '';
                html += '<option value="-1"></option>';
                for (var x=0; x<data.length; x++){
                    html += '<option value="' + data[x].id + '">(' + data[x].estado + ') ' + data[x].nombre + ' (' + data[x].precio + ')</option>';
                }
                $("#itemplan_select").html(html);
            }

        });
        
    });

    /*
        Controla los cambios hechos sobre el combobox de itemplan.
        Gatilla una busqueda sobre la informacion comercial del itemplan
        selccionado.
    */
    $("#itemplan_select").change(function(){
        var id_itemplan = $(this).val();
        var id_plan = parseInt({{plan.id}});
        /* buscar itemplan obj */
        /*$.ajax({
            data: {'id_itemplan':id_itemplan, 'id_plan':id_plan},
            url: '/planes/plan/itemplansearch/',
            type: 'get',
            success: function(data){
                console.log(data);
                //$("#itemplan_title").html("<h3>Proyectar - " + data[0].fields.nombre + "</h3>");
            }

        });*/
        $.ajax({
            data: {'id_itemplan':id_itemplan, 'id_plan':id_plan},
            url: '/planes/plan/itemplanventasearch/',
            type: 'get',
            success: function(data){
                console.log(data);
                var html_tab1 = "";
                var html_tab2 = "";
                
                html_tab1 += "<table class=\"pure-table pure-table-horizontal\" style=\"width:100%;\">";
                html_tab2 += "<table class=\"pure-table pure-table-horizontal\" style=\"width:100%;\">";
                html_tab1 += "<thead>";
                html_tab2 += "<thead>";
                html_tab1 += "<tr>";
                html_tab2 += "<tr>";
                html_tab1 += "<th>Temporada</th>";
                html_tab2 += "<th>Temporada</th>";
                for (var x=0; x<data.length; x++){
                    html_tab1 += "<th>" + data[x].tiempo__periodo__nombre + "</th>";
                    html_tab2 += "<th>" + data[x].tiempo__periodo__nombre + "</th>";
                }
                html_tab1 += "</tr>";
                html_tab2 += "</tr>";
                html_tab1 += "</thead>";
                html_tab2 += "</thead>";
                html_tab1 += "<tbody>";
                html_tab2 += "<tbody>";
                /* Unidades vendidas */
                html_tab1 += "<tr>";
                html_tab2 += "<tr>";
                html_tab1 += "<td>Unidades</td>";
                html_tab2 += "<td>Venta $M</td>";
                for (var x=0; x<data.length; x++){
                    html_tab1 += "<td>" + data[x].vta_u + "</td>";
                    html_tab2 += "<td>" + data[x].vta_n + "</td>";
                }
                html_tab1 += "</tr>";
                html_tab2 += "</tr>";
                 /* Descuentos */
                html_tab1 += "<tr>";
                html_tab2 += "<tr>";
                html_tab1 += "<td>% Descuento</td>";
                html_tab2 += "<td>Contribuci&oacute;n</td>";
                for (var x=0; x<data.length; x++){
                    html_tab1 += "<td>" + data[x].dcto + "</td>";
                    html_tab2 += "<td>" + data[x].ctb_n + "</td>";
                }
                html_tab1 += "</tr>";
                html_tab2 += "</tr>";
                html_tab1 += "</tbody>";
                html_tab2 += "</tbody>";
                html_tab1 += "</table>";
                html_tab2 += "</table>";
                $("#tab_dcto_uni").html(html_tab1);
                $("#tab_ven_mar_con").html(html_tab2);
            }

        });
        $("#btnSave").show();
        
    });
    

    var td = "";
    
    $( "#dialog-box" ).dialog({

        autoOpen: false,
        //height: 300,
        width: 280,
        modal: true,
        buttons: {
            "Ingresar": function() {
                //console.log(td.attr("id"));
                td.text($("#inputval").val());
                $("#inputval").val("");
                $( this ).dialog( "close" );
                
            },
            Cancelar: function() {
                $( this ).dialog( "close" );
            }
        }
    });
    
    /*
    $("#proyform td").click(function() {
        td = $(this)
        $( "#dialog-box" ).dialog( "open" );
    });
    */

});

</script>

{% endblock %}
