{% extends "base.html" %}

{% block topbar %}
<ul>
	<li><a href="/accounts/loggedin/">Inicio<span>/</span></a></li>
	<li><a href="../../../../../administracion/index/">Administraci&oacute;n<span>/</span></a></li>
	<li><a href="../../../../planes/index/" class="active">Planificar<span>Temporada</span></a></li>
	<li><a href="">Lista<span>Compra</span></a></li>
	<li><a href="">An&aacute;lisis<span>KPIs</span></a></li>
	<li><a href="">Mi<span>Cuenta</span></a></li>
	<li><a href="">Ayuda<span>/</span></a></li>
</ul>
{% endblock %}

{% block username %}
	Bienvenido {{ full_name }} !
{% endblock %}

{% block sidebar %}
<h4>M&oacute;dulos</h4>
<ul>
	{% if admin %}
    <li><a href="">Editar</a></li>
    <li><a href="../../../plan/delete/{{ plan.id }}">Eliminar</a></li>
    {% endif %}
    <li><a href="../../../../planes/plan/list/">Volver</a></li>
</ul>
<h4>Trabajar</h4>
<ul>
	<li><a href="/planes/plan/stage1/{{ plan.id }}">Seleccionar &aacute;rbol</a></li>
	<!--li><a href="/planes/plan/fase1_ajax/{{ plan.id }}">Seleccionar &aacute;rbol AJAX</a></li-->
	<li><a href="">Proyectar informaci&oacute;n</a></li>
	<li><a href="">Planificar</a></li>
</ul>
{% endblock %}

{% block content %}

<div style="float:left; width:40%;">
	<div style="float:left; width:100%;"><h2>Plan</h2></div>
	<div class="left_label">Nombre</div>
	<div class="middle_label">:</div>
	<div class="right_label">{{ plan.nombre }}</div>

	<div class="left_label">Año</div>
	<div class="middle_label">:</div>
	<div class="right_label">{{ plan.anio }}</div>
	
	<div class="left_label">Temporada</div>
	<div class="middle_label">:</div>
	<div class="right_label">{{ plan.temporada }}</div>
	
	<div class="left_label">Estado</div>
	<div class="middle_label">:</div>
	<div class="right_label">{{ plan.get_estado_display }}</div>
	
	<div class="left_label">Número de ítems</div>
	<div class="middle_label">:</div>
	<div class="right_label">{{ plan.get_num_items }}</div>
	
	<div class="left_label">Creador</div>
	<div class="middle_label">:</div>
	<div class="right_label">{{ plan.usuario_creador }}</div>
</div>


{% endblock %}
