{% extends "base.html" %}

{% block topbar %}

{% include "planes/menu.html" %}

{% endblock %}

{% block username %}
	Bienvenido {{ full_name }} !
{% endblock %}

{% block sidebar %}
<h4>M&oacute;dulos</h4>
<ul>
    {% if admin %}
    <li><a href="{% url 'planes:plan_create' %}">Crear Planificaci&oacute;n</a></li>
    {% endif %}
    <li><a href="{% url 'planes:index' %}">Volver</a></li>
</ul>
{% endblock %}

{% block content %}
<h2>Planes</h2>

<ul>
    {% for plan in planes %}

    <li><a href="{% url 'planes:plan_detail' plan.id %}"> {{ plan.nombre }} </a>

    {% endfor %}
</ul>

{% endblock %}