{% extends "base.html" %}

{% block topbar %}

{% include "planes/menu.html" %}

{% endblock %}

{% block username %}
	Bienvenido {{ full_name }} !
{% endblock %}

{% block sidebar %}
<h4>M&oacute;dulos</h4>
<ul>
    <li><a href="{% url 'planes:plan_detail' plan.id %}">Volver</a></li>
</ul>
{% endblock %}

{% block content %}
{% if msg %}
<h3>Proyectar Información</h3>
<div class="msg_warning">
    {{ msg }}
</div>
{% else %}
<div style="padding-bottom:10px;">
    <div style="float:left; width:100%">
        <h3>Proyectar</h3>
        <p>Totales: {{ num_items_tot }} | Proyectados: {{ num_items_pro }} | Pendientes: {{ num_items_nopro }}</p>  
    </div>
    <label>Buscar por:</label>
    <select id="cat_select">
        <option value="-1"></option>
        {% for categoria in categorias %}
            <option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
        {% endfor %}
    </select>
    <label>Art&iacute;culo:</label>
    <select id="itemplan_select">
        <option value="-1"></option>
    </select>
</div>

<div style="width:95%; float:left">
    <div style="width:100%; float:left">
        <form id="proyform" class="pure-form" method="post" action="/planes/plan/savestage2/">
            {% csrf_token %}
            <div id="tab_dcto_uni" style="float:left; width:100%;">
            </div>
            <div style="float:left; width:100%;">

            </div>
            <div id="tab_ven_mar_con" style="float:left; width:100%;">
            </div>
            <div style="width:100%; float:left; padding-top:10px; padding-bottom:10px;">
                <input id="input_json_data" type="hidden" name="proyeccion" value="" />
                <button id="btnSave" type="submit" class="pure-button pure-button-primary" style="display:none;">Guardar</button>
            </div>
        </form>
        <div id="dialog-box" title="Proyección">
            <label>Ingresar:</label>
            <input id="inputval" type="text" style="width:8em">
        </div>
    </div>
</div>
<div style="width:20%; float:left; padding-left:10px;">
    
</div>

{% endif%}

{% endblock %}

{% block js %}
<script>

$(function() {

    var planificacion = [];
    var td = "";

    $( document ).tooltip({
        track: true
    });

    $("#btnSave").click(function(event){
        event.preventDefault();
        var plan = parseInt({{plan.id}});
        var itemplan = planificacion['itemplan'].id_itemplan
        
        json_data = JSON.stringify({
            plan: plan, 
            itemplan: itemplan,
            ventas: planificacion.ventas
        });
        $("#input_json_data").val(json_data);
        console.log(json_data);
        
        $("#proyform").submit();
    });

    /*
        Controla los cambios hechos sobre el combobox de categoria.
        Gatilla una busqueda de objetos itemplan que pertenecen a la categoria
        y lo lista en el combobox de objetos itemplan.
    */
    $("#cat_select").change(function(){
        var id_cat = $(this).val();
        var id_plan = parseInt({{plan.id}});
        $.ajax({
            data: {'id_cat':id_cat, 'id_plan':id_plan},
            url: '/planes/plan/itemplansearchlist/',
            type: 'get',
            success: function(data){
                html = '';
                html += '<option value="-1"></option>';
                for (var x=0; x<data.length; x++){
                    html += '<option value="' + data[x].id + '">(' + data[x].estado + ') ' + data[x].nombre + ' (' + data[x].precio + ')</option>';
                }
                $("#itemplan_select").html(html);
            }

        });
        
    });

    /*
        Controla los cambios hechos sobre el combobox de itemplan.
        Gatilla una busqueda sobre la informacion comercial del itemplan
        selccionado.
    */
    $("#itemplan_select").change(function(){
        var id_itemplan = $(this).val();
        var id_plan = parseInt({{plan.id}});
        $.ajax({
            data: {'id_itemplan':id_itemplan, 'id_plan':id_plan},
            url: '/planes/plan/itemplanventasearch/',
            type: 'get',
            success: function(data){
                planificacion = data;
                tablaDctoUni(data.ventas);
                tablaVtaMarCtb(data.ventas);
            }

        });
        $("#btnSave").show();
        
    });
        
    $( "#dialog-box" ).dialog({

        autoOpen: false,
        //height: 300,
        width: 220,
        modal: true,
        buttons: {
            "Guardar": function() {
                var parametros = [];
                td.text($("#inputval").val());
                parametros = td.attr("id").split("_");
                $("#inputval").val("");
                actualizarPlanificacion(parametros[0], parametros[1]);
                $( this ).dialog( "close" );
                
            },
            Cancelar: function() {
                $( this ).dialog( "close" );
            }
        }
    });
    
    function proyectar(){
        td = $(this);
        $( "#dialog-box" ).dialog( "open" );
    }
    
    function tablaDctoUni(data){
        var tot_uni = 0;
        var tot_dcto = 0;
        var tot_costos = 0;
        var html = "";        
        html += "<table class=\"datagrid\" style=\"width:100%;\">";
        html += "<thead>";
        html += "<tr>";
        html += "<th style=\"width:16%;\">Temporada</th>";
        for (var x=0; x<data.length; x++)
            html += "<th style=\"width:6%;\">" + data[x].periodo + "</th>";
        html += "<th style=\"width:12%;\">Totales</th>";
        html += "</tr>";
        html += "</thead>";
        html += "<tbody>";
        
        /* Unidades vendidas */
        html += "<tr>";
        html += "<td title=\"Unidades vendidas.\" style=\"width:16%;\">Unidades</td>";
        for (var x=0; x<data.length; x++){
            if(data[x].tipo != 0)
                html += "<td id=\"unidades_" + data[x].periodo + "\" class=\"unidades editable estado" + data[x].tipo + "\" style=\"width:6%;\">" + data[x].vta_u + "</td>";
            else
                html += "<td class=\"unidades\" style=\"width:6%;\">" + data[x].vta_u + "</td>";
            tot_uni += data[x].vta_u;
        }
        html += "<td id=\"tot_unidades\" style=\"width:12%;\">" + tot_uni + "</td>";
        html += "</tr>";
        
         /* Descuentos */
        html += "<tr>";
        html += "<td title=\"Descuento sobre el precio blanco.\" style=\"width:16%;\">Descuento %</td>";
        
        for (var x=0; x<data.length; x++){
            if(data[x].tipo != 0)
                html += "<td id=\"descuentos_" + data[x].periodo + "\" class=\"descuentos editable estado" + data[x].tipo + "\" style=\"width:6%;\">" + data[x].dcto + "</td>";
            else
                html += "<td class=\"descuentos\" style=\"width:6%;\">" + data[x].dcto + "</td>";
            tot_dcto += data[x].dcto;
        }
        html += "<td id=\"tot_descuentos\" style=\"width:12%;\">" + parseFloat(tot_dcto / data.length).toFixed(1) + "</td>";
        html += "</tr>";

        /* Costos */
        html += "<tr>";
        html += "<td title=\"Costo en miles.\" style=\"width:16%;\">Costos $M</td>";
        for (var x=0; x<data.length; x++){
            if(data[x].tipo != 0)
                html += "<td id=\"costos_" + data[x].periodo + "\" class=\"costos editable estado" + data[x].tipo + "\" style=\"width:6%;\">" + data[x].costo + "</td>";
            else
                html += "<td class=\"costos\" style=\"width:6%;\">" + data[x].costo + "</td>";
            tot_costos += data[x].costo;
        }
        html += "<td id=\"tot_costos\" style=\"width:12%;\">" + tot_costos + "</td>";
        html += "</tr>";
        html += "</tbody>";
        html += "</table>";
        $("#tab_dcto_uni").html(html);
        $(".editable").click(proyectar);
    }

    function tablaVtaMarCtb(data){
        
        var html = "";
        html += "<table class=\"datagrid\" style=\"width:100%;\">";
        html += "<thead>";
        html += "<tr>";
        html += "<th style=\"width:16%;\">Temporada</th>";
        for (var x=0; x<data.length; x++)
            html += "<th style=\"width:6%;\">" + data[x].periodo + "</th>";
        html += "<th style=\"width:12%;\">Totales</th>";
        html += "</tr>";
        html += "</thead>";
        html += "<tbody>";
        
        /* Venta neta */
        html += "<tr>";
        html += "<td title=\"Venta en miles.\" style=\"width:16%;\">Venta $M</td>";
        for (var x=0; x<data.length; x++){
            if(data[x].tipo != 0)
                html += "<td style=\"width:6%;\">" + data[x].vta_n + "</td>";
            else
                html += "<td style=\"width:6%;\">" + data[x].vta_n + "</td>";    
        }
        html += "<td id=\"tot_venta\" style=\"width:12%;\"></td>";
        html += "</tr>";
        
         /* Contribucion */
        html += "<tr>";
        html += "<td title=\"Contribucion en miles.\" style=\"width:16%;\">Contribuci&oacute;n</td>";
        for (var x=0; x<data.length; x++){
            if(data[x].tipo != 0)
                html += "<td style=\"width:6%;\">" + data[x].ctb_n + "</td>";
            else
                html += "<td style=\"width:6%;\">" + data[x].ctb_n + "</td>";
        }
        html += "<td id=\"tot_ctb\" style=\"width:12%;\"></td>";
        html += "</tr>";
        
        /* Margen */
        html += "<tr>";
        html += "<td title=\"Margen porcentual.\" style=\"width:16%;\">Margen %</td>";
        for (var x=0; x<data.length; x++){
            if(data[x].tipo != 0)
                html += "<td style=\"width:6%;\">" + data[x].margen + "</td>";
            else
                html += "<td style=\"width:6%;\">" + data[x].margen + "</td>";
        }
        html += "<td id=\"tot_margen\" style=\"width:12%;\"></td>";
        html += "</tr>";
        html += "</tbody>";
        html += "</table>";
        $("#tab_ven_mar_con").html(html);
        $(".editable").click(proyectar);
    }

    function actualizarPlanificacion(metrica, periodo){
        if(metrica == 'unidades'){
            for (var x=0; x<planificacion.ventas.length; x++){
                if(planificacion.ventas[x].periodo == periodo.trim()){
                    planificacion.ventas[x].vta_u = td.text();
                    planificacion.ventas[x].vta_n = parseFloat(((planificacion.ventas[x].vta_u * planificacion['itemplan'].precio) - ((planificacion.ventas[x].vta_u * planificacion['itemplan'].precio) * planificacion.ventas[x].dcto / 100)) / 1000).toFixed(1);
                    planificacion.ventas[x].ctb_n = parseFloat(planificacion.ventas[x].vta_n - planificacion.ventas[x].costo).toFixed(1);
                    if(planificacion.ventas[x].costo != 0)
                        planificacion.ventas[x].margen = parseFloat((planificacion.ventas[x].costo / planificacion.ventas[x].vta_n) * 100).toFixed(1);
                    tablaVtaMarCtb(planificacion.ventas);
                    calcularTotUnidades(metrica);
                    break;
                }
            }
        }
        else if(metrica == 'descuentos'){
            for (var x=0; x<planificacion.ventas.length; x++){
                if(planificacion.ventas[x].periodo == periodo.trim()){
                    planificacion.ventas[x].dcto = td.text();
                    planificacion.ventas[x].vta_n = parseFloat(((planificacion.ventas[x].vta_u * planificacion['itemplan'].precio) - ((planificacion.ventas[x].vta_u * planificacion['itemplan'].precio) * planificacion.ventas[x].dcto / 100)) / 1000).toFixed(1);
                    planificacion.ventas[x].ctb_n = parseFloat(planificacion.ventas[x].vta_n - planificacion.ventas[x].costo).toFixed(1);
                    if(planificacion.ventas[x].costo != 0)
                        planificacion.ventas[x].margen = parseFloat((planificacion.ventas[x].costo / planificacion.ventas[x].vta_n) * 100).toFixed(1);
                    tablaVtaMarCtb(planificacion.ventas);
                    calcularTotUnidades(metrica);
                    break;
                }
            }
        }
        else{
            for (var x=0; x<planificacion.ventas.length; x++){
                if(planificacion.ventas[x].periodo == periodo.trim()){
                    planificacion.ventas[x].costo = td.text();
                    planificacion.ventas[x].vta_n = parseFloat(((planificacion.ventas[x].vta_u * planificacion['itemplan'].precio) - ((planificacion.ventas[x].vta_u * planificacion['itemplan'].precio) * planificacion.ventas[x].dcto / 100)) / 1000).toFixed(1);
                    planificacion.ventas[x].ctb_n = parseFloat(planificacion.ventas[x].vta_n - planificacion.ventas[x].costo).toFixed(1);
                    if(planificacion.ventas[x].costo != 0)
                        planificacion.ventas[x].margen = parseFloat((planificacion.ventas[x].costo / planificacion.ventas[x].vta_n) * 100).toFixed(1);
                    tablaVtaMarCtb(planificacion.ventas);
                    calcularTotUnidades(metrica);
                    break;
                }
            }
        }
    }

    function calcularTotUnidades(tipo){
        var tipo_total = tipo;
        var tot_unidades = 0;
        $("."+tipo_total).each(function() {
            tot_unidades += parseInt($(this).text());
        });
        if(tipo == "descuentos")
            $("#tot_"+tipo_total).html(parseFloat(tot_unidades / $("."+tipo_total).length).toFixed(1));
        $("#tot_"+tipo_total).html(tot_unidades);
    }
});

</script>

{% endblock %}
