{% extends "base.html" %}

{% block topbar %}
<ul>
	<li><a href="/accounts/loggedin/">Inicio<span>/</span></a></li>
	<li><a href="../../../../../administracion/index/">Administraci&oacute;n<span>/</span></a></li>
	<li><a href="../../../../planes/index/" class="active">Planificar<span>Temporada</span></a></li>
	<li><a href="">Lista<span>Compra</span></a></li>
	<li><a href="">An&aacute;lisis<span>KPIs</span></a></li>
	<li><a href="">Mi<span>Cuenta</span></a></li>
	<li><a href="">Ayuda<span>/</span></a></li>
</ul>
{% endblock %}

{% block username %}
	Bienvenido {{ full_name }} !
{% endblock %}

{% block sidebar %}
<h4>M&oacute;dulos</h4>
<ul>
    <li><a href="../../../plan/list/">Cancelar</a></li>
</ul>
{% endblock %}

{% block content %}
<h2>Eliminar Planificaci&oacute;n</h2>
<form action="" method="post">{% csrf_token %}
    <p><span class="msg_warning">¿Está usted seguro de que desea eliminar la planificaci&oacute;n {{ object }}?</span></p>
    <input type="submit" value="Confirmar" />
</form>
{% endblock content %}