{% extends "base.html" %}

{% block topbar %}

{% include "planes/menu.html" %}

{% endblock %}

{% block username %}
	{{ full_name }}
{% endblock %}

{% block sidebar %}
<div class="pure-menu pure-menu-open">
    <a class="pure-menu-heading">Planificaciones</a>
    <ul>
        <li><a href="{% url 'planes:plan_list' %}">Mis Planificaciones</a></li>
        <li><a href="{% url 'home' %}">Volver</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}

<h3>Módulo de Planificaciones</h3>

{% endblock %}