{% extends "base.html" %}
{% load humanize %}

{% block topbar %}

{% include "planes/menu.html" %}

{% endblock %}

{% block username %}
	{{ full_name }}
{% endblock %}

{% block sidebar %}
<!-- Menu general -->
<div class="menu_lateral_flotante">
    <!--div class="pure-menu pure-menu-open">
        <a class="pure-menu-heading">M&oacute;dulos</a>
        <ul>
            <li><a href="{% url 'planes:plan_detail' plan.id %}">Volver</a></li>
        </ul>
    </div-->
    <p></p>
    <!-- Menu general -->
    <form class="pure-form pure-form" id="save_form" method="post" action="/planes/plan/guardar-arbol/">
        {% csrf_token %}
        <input id="input_json_data" type="hidden" name="plan" value="" />
    </form>
    <!-- Menu de acciones -->
    <div class="pure-menu pure-menu-open">
        <a class="pure-menu-heading">Acciones</a>
        <ul>
            <li><a id="btnExpand">Expandir Nodos</a></li>
            <li><a id="btnCollapse">Collapsar Nodos</a></li>
            <li><a id="btnSave">Guardar</a></li>
            <li id="li-nuevo-nodo" style="display:none;"><a id="btnSaveNuevoNodo">Crear Item</a></li>
            <li id="li-vigencia-nodo" style="display:none;"><a id="btnVigencia">Remover Item</a></li>
            <li id="li-agrupar-nodos" style="display:none;"><a id="btnAgrupar">Agrupar Items</a></li>
        </ul>
    </div>        
</div>
<!-- Menu de acciones -->
{% endblock %}

{% block content %}
<h3>Arbol de Planificaci&oacute;n</h3>
<div style="width:100%; float:left">
    {% if plan.estado == 1 %}<strong>Cuidado: Este árbol ya ha sido definido. Si presiona el botón guardar, reemplazará permanentemente la versión anterior.</strong>{% endif %}<span id="msg_visibles"><p>Items Totales: {{ nodos_visibles }} | Items a Planificar: {{ nodos_planificables }}</p></span>
</div>
<div id="div_arbol" style="width:90%; float:left">
    <table id="treetable">
        <colgroup>
            <col width="30px"></col>
            <col width="30px"></col>
            <col width="*"></col>
            <col width="100px"></col>
            <col width="100px"></col>
            <col width="100px"></col>
            <col width="100px"></col>
            <col width="70px"></col>
        </colgroup>
        <thead>
          <tr> <th></th> <th>#</th> <th>ITEM</th> <th>PRECIO BLANCO</th> <th>{{ plan.anio|add:"-3" }}</th> <th>{{ plan.anio|add:"-2" }}</th> <th>{{ plan.anio|add:"-1" }}</th> <th>ESTADO</th> </tr>
        </thead>
        <tbody>
          <tr> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> </tr>
        </tbody>
    </table>
</div>

<!-- DIALOG CON FORMULARIO PARA LA CREACION DE UN GRUPOITEM -->
<div id="dialog-form" title="Crear nuevo Item">
    <p class="validateTips">Todos los campos son requeridos.</p>
    <form id="crear_grupoitem_form">
        {% csrf_token %}
        <fieldset>
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre-grupoitem" class="text ui-widget-content ui-corner-all">
            <input type="hidden" name="grupo_items" id="grupo_items">
            <input type="hidden" name="plan_id" value="{{plan.id}}">
        </fieldset>
    </form>
    <div class="pure-menu pure-menu-open">
        <a class="pure-menu-heading">ITEMS AGRUPADOS</a>
        <ul id="lista-seleccion-items">
        </ul>
    </div>
    
</div>
<div id="dialog-form-nuevo-item" title="Crear nuevo Item" style="display:none;">
    <p class="validateTips">Todos los campos son requeridos.</p>
    <form id="crear_item_form">
        {% csrf_token %}
        <fieldset>
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre-item" class="text ui-widget-content ui-corner-all">
            <label for="nombre">Precio</label>
            <input type="text" name="precio" id="precio-item" class="text ui-widget-content ui-corner-all">
            <input type="hidden" name="plan_id" value="{{plan.id}}">
            <input type="hidden" name="item_padre_id" id="item_padre_id">
        </fieldset>
    </form>
</div>
<div id="dialog-quitar-vigencia-item" title="Remover Item" style="display:none;">
    <p>¿Est&aacute; seguro de querer continuar?. Esto quitar&aacute; permanentemente el item y no podr&aacute; volver a ser utilizado dentro de la planificaci&oacute;n.</p>
    <form id="quitar_vigencia_item_form">
        {% csrf_token %}
        <fieldset>
            <input type="hidden" name="item_id" id="item_id">
        </fieldset>
    </form>
</div>

<div id="dvLoading" style="display:none;"></div>
<!-- DIV DERECHO DEL SITIO -->
{% endblock %}

{% block js %}
{% load static %}
<script>

$(function() {

    /*
        Configuracion del arbol de items.
    */
    $("#treetable").fancytree({
        extensions: ["table"],
        checkbox: true,
        icons: false,
        table: {
            indentation: 20,      // indent 20px per node level
            nodeColumnIdx: 2,     // render the node title into the 2nd column
            checkboxColumnIdx: 0  // render the checkboxes into the 1st column
        },
        source: {
            url: "{% url 'planes:plan_buscar_estructura_arbol' %}",
            data: {id_plan: parseInt({{plan.id}})}
        },
        lazyLoad: function(e, data){
        // return a source in 'data.result'
            data.result = {
            url: "{% url 'categorias:item_nodesearch' %}",
            data: {key: data.node.key, plan: parseInt({{plan.id}})}
            };  
        },
        postProcess: function(event,data){
        },
        expand: function(event, data){
            arbol_obj.setModificada(true);
            definirVisibles();
        },
        collapse: function(event, data){
            arbol_obj.setModificada(true);
            data.node.resetLazy();
            definirVisibles();
        },
        beforeSelect: function(e, data) {
            if( data.node.folder ){
                return false;
            }
        },
        select: function(e, data) {
            var html = "";
            // Se obtiene la lista de nodos seleccionados
            var selNodes = data.tree.getSelectedNodes();
            if (selNodes.length != 0){
                for (x=0; x<selNodes.length; x++){
                    html += "<li><a>" + parseInt(x+1) + ". " + selNodes[x].title + "</a></li>";
                }
            }
            $("#lista-seleccion-items").html(html);
            if ( $( "#li-agrupar-nodos" ).is(":hidden") )
                $( "#li-agrupar-nodos" ).show().effect( "highlight", options, 300 );
        },
        activate: function(event, data){
            var node = data.node;
            var options = {};
            if( ( node.folder ) && ( node.extraClasses == "planificable" ) ){
                $( "#li-nuevo-nodo" ).show().effect( "highlight", options, 300 );
            }
            /*if( !node.folder ){
                $( "#li-vigencia-nodo" ).show().effect( "highlight", options, 300 );
            }*/
            $( "#li-vigencia-nodo" ).show().effect( "highlight", options, 300 );
        },
        deactivate: function(event, data){
            $( "#li-nuevo-nodo" ).hide();
            $( "#li-vigencia-nodo" ).hide();
        },
        renderColumns: function(event, data) {
            var node = data.node,
            $tdList = $(node.tr).find(">td");
            // (index #0 is rendered by fancytree by adding the checkbox)
            $tdList.eq(1).text(node.getIndexHier());
            // (index #2 is rendered by fancytree)
            /* Se verifica que el item tenga precio */
            if (node.data['precio'] != 0)
                $tdList.eq(3).text(numeral(node.data['precio']).format('0,0')).addClass("alignRight");
            else
                $tdList.eq(3).text("").addClass("alignRight");
            
            /* Se verifica que el item tenga venta_t */
            if(typeof node.data['venta_t'] === "undefined")
                $tdList.eq(6).text("").addClass("alignRight");
            else
                $tdList.eq(6).text(numeral(node.data['venta_t']).format('0,0')).addClass("alignRight");
            
            /* Se verifica que el item tenga venta_t1 */
            if(typeof node.data['venta_t1'] === "undefined")
                $tdList.eq(5).text("").addClass("alignRight");
            else
                $tdList.eq(5).text(numeral(node.data['venta_t1']).format('0,0')).addClass("alignRight");
            
            /* Se verifica que el item tenga venta_t2 */
            if(typeof node.data['venta_t2'] === "undefined")
                $tdList.eq(4).text("").addClass("alignRight");
            else
                $tdList.eq(4).text(numeral(node.data['venta_t2']).format('0,0')).addClass("alignRight");
            
            /* Se agrega un icono dependiendo del estado de planificacion */
            if ( node['extraClasses'] == "planificable" ){
                if ( node.data['estado'] == 2 )
                    $tdList.eq(7).html("").addClass("icono-planificado");
                else
                    $tdList.eq(7).html("").addClass("icono-pendiente");    
            }
            
        }   
    });

    // Evento que permite enviar una alerta al usuario cuando esta tratando de salir de la pagina y hay
    // cambios que no han sido guardados
    $(window).bind("beforeunload",function(event) {
        if(arbol_obj.getModificada()) 
            return "Hay cambios que no han sido guardados, ¿está seguro de querer salir?";
    });

    $( "#plan_tree_detail" ).addClass( "opcion-seleccionada" );
    
    arbol_obj = function(){    
        /*
        Almacena el estado de la proyeccion:
            - false = no ha sido modificada
            - true = ha sido modificada y los cambios no han sido guardados
        */
        var modificada = false;
        var tips = $( ".validateTips" );

        function setModificada(estado){
            modificada = estado;
        }

        function getModificada(){
            return modificada;
        }

        function getTips(){
            return tips;
        }

        return{
            setModificada:setModificada,
            getModificada:getModificada,
            getTips:getTips
        }
    }();

    // Para que al hacer click en la tecla ENTER, los formularios de los dialogs sean enviados
    $('body').on('keypress', '.ui-dialog', function(event) { 
        if (event.keyCode === $.ui.keyCode.ENTER) { 
            $('.ui-dialog-buttonpane button:first', $(this)).click();
            return false;
        }
    });
    
    /* 
        Controla la aparicion y desaparicion de la imagen animada que indica que
        hay un proceso en ejecucion.
    */
    $( document ).ajaxStart(function() {
        $("#dvLoading").show();
    });

    $( document ).ajaxStop(function() {
        $("#dvLoading").hide();
    });
    
    /*
        Configuracion del dialog para la creacion de un objeto Grupoitem.
    */
    $( "#dialog-form" ).dialog({
        autoOpen: false,
        //height: 300,
        width: 400,
        modal: true,
        buttons: {
            "Guardar": guardarGrupoItem,
            Cancelar: function() {
                $( this ).dialog( "close" );
                tree = $("#treetable").fancytree("getTree");
                items_arr = tree.getSelectedNodes();
                for (var x=0; x<items_arr.length; x++){
                    items_arr[x].setSelected(false);
                }
            }
        },
        close: function() {
            var nombre = $( "#nombre-grupoitem" ),
                allFields = $( [] ).add( nombre );
            allFields.val( "" ).removeClass( "ui-state-error" );
        }
    });

    /*
        Configuracion del dialog para la creacion de un nuevo Item.
    */
    $( "#dialog-form-nuevo-item" ).dialog({
        autoOpen: false,
        height: 270,
        width: 300,
        modal: true,
        buttons: {
            "Guardar": guardarNuevoItem,
            Cancelar: function() {
                $( this ).dialog( "close" );
                var nombre = $( "#nombre-item" ),
                    precio = $( "#precio-item" ),
                    allFields = $( [] ).add( nombre ).add( precio );
                allFields.val( "" ).removeClass( "ui-state-error" );
                $( ".validateTips" ).html("Todos los campos son requeridos.");
            },
        }
    });
    
    /*
        Configuracion del dialog para quitar la vigencia (remover) a un Item.
    */
    $( "#dialog-quitar-vigencia-item" ).dialog({
        autoOpen: false,
        height: 170,
        width: 300,
        modal: true,
        buttons: {
            "Remover": quitarVigenciaItem,
            Cancelar: function() {
                $( this ).dialog( "close" );
            },
        }
    });

    /* 
        Se vincula el boton con la funcion que permite crear nodos/item.
    */
    $( "#btnSaveNuevoNodo" ).click(function(){
        var tree = $("#treetable").fancytree("getTree"),
        activeNode = tree.getActiveNode();
        /* Se valida que el nodo seleccionado pueda tener nuevos hijos */
        if( ( activeNode.folder ) && ( activeNode.extraClasses == "planificable" ) ){
            $( "#dialog-form-nuevo-item" ).data('node', activeNode).dialog( "open" );
        }
    });

    /*
        Se vincula el boton Remover Item con el dialog respectivo.
    */
    $( "#btnVigencia" ).click(function(){
        var tree = $("#treetable").fancytree("getTree"),
        activeNode = tree.getActiveNode();
        /* Se valida que el nodo seleccionado sea un nodo hoja */
        /*if( !activeNode.folder ){
            $( "#dialog-quitar-vigencia-item" ).data('node', activeNode).dialog( "open" );
        }*/
        $( "#dialog-quitar-vigencia-item" ).data('node', activeNode).dialog( "open" );
    });

    /* 
        Expandir todos los nodos un nivel.
    */
    $("#btnExpand").click(function(){
        $("#treetable").fancytree("getRootNode").visit(function(node){
            if ( node.isVisible() )
                node.setExpanded(true);
        });
        return false;
    });

    /*
        Collapsar todos los nodos un nivel.
    */
    $("#btnCollapse").click(function(){
        $("#treetable").fancytree("getRootNode").visit(function(node){
            if (!node.hasChildren()){
                if ( node.getParent() ){
                    var nodo_padre = node.getParent();
                    nodo_padre.setExpanded(false);
                    nodo_padre.resetLazy();
                }
            }
        });
        return false;
    });

    /*
        Enviar por POST dos campos, el ID del plan y un string de IDs de items
    */
    $("#btnSave").click(function(){
        var nodos_lista = [];
        var nodos_lista_padres = [];
        var nodos_planificables_lista = [];
        var plan = parseInt({{plan.id}});
        /* Se obtiene la lista de ID de nodos que deben ser planificados/proyectados */
        $("#treetable").fancytree("getTree").visit(function(node){
            if (node.isVisible()){
                var nodo = {};
                nodo.id = parseInt(node.key);
                nodo.padre_id = parseInt(node.parent.key);
                /*nodo.uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) { var r = Math.random()*16|0, v = c == 'x' ? r : (r&0x3|0x8); return v.toString(16); });
                nodo.padre_uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) { var r = Math.random()*16|0, v = c == 'x' ? r : (r&0x3|0x8); return v.toString(16); });*/
                nodos_lista_padres.push(nodo);
                nodos_lista.push(parseInt(node.key));
                if ( (node.extraClasses == "planificable") ){
                    if (node.hasChildren()){
                        if (!node.isExpanded()){
                            nodos_planificables_lista.push(parseInt(node.key));
                        }
                    }
                    else{
                        nodos_planificables_lista.push(parseInt(node.key));
                    }
                }
            }
        });
        json_data = JSON.stringify({
            plan: plan,
            items: nodos_lista,
            items_planificables: nodos_planificables_lista,
            items_padres: nodos_lista_padres
        });
        $("#input_json_data").val(json_data);
        arbol_obj.setModificada(false);
        $("#save_form").submit();
    });
    
    $("#btnAgrupar").click(crearGrupoitem);
});

</script>
<script src="{% static "planes/js/plan_arbol.js" %}" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="{% static "planes/css/arbol.css" %}">
<!-- Fancytree -->
<link href="{% static "fancytree_2.0.0-8/skin-lion/ui.fancytree.css" %}" rel="stylesheet" type="text/css">
<script src="{% static "fancytree_2.0.0-8/jquery.fancytree.js" %}" type="text/javascript"></script>
<script src="{% static "fancytree_2.0.0-8/jquery.fancytree.table.js" %}" type="text/javascript"></script>
{% endblock %}