{% extends "base.html" %}

{% block topbar %}

{% include "planes/menu.html" %}

{% endblock %}

{% block username %}
	{{ full_name }}
{% endblock %}

{% block sidebar %}
<div class="pure-menu pure-menu-open">
    <a class="pure-menu-heading">M&oacute;dulos</a>
    <ul>
    	<li><a href="{% url 'planes:plan_detail' plan.id %}">Volver</a></li>
	</ul>
</div>
<!-- Seccion con parametros de busqueda del item a proyectar  -->
<div class="caja_bordes" style="padding: 0px 0px; float:left; width:100%;">
    <a class="caja-header">Par&aacute;metros</a>
    <table style="width:100%;">
    	<tr>
            <td><label>TEMPORADA</label></td>
        </tr>
        <tr>
            <td>
                <select id="combo_temporada" class="buscador">
                    <option value="-1" selected="selected"></option>
                    {% for temporada in temporadas %}
                        <option value="{{ temporada.id }}">{{ temporada.nombre }}</option>
                    {% endfor %}
                    <option value="-2">TOTAL</option>
                </select>
            </td>
        </tr>
        {% for categoria in combo_categorias_comp %}
        <tr>
            <td style="width:80%">
                <label>{{ categoria.nombre }}</label>
            </td>
            <td style="width:20%"></td>
        </tr>
        <tr>
            <td style="width:80%">
                <select id="combo_cat_comp_{{ categoria.id }}" class="buscador">
                    <option value="-1" selected></option>
                    {% for item in items_categoria_raiz %}
                        {% if item.categoria = categoria %}
                        <option value="{{ item.id }}">{{ item.nombre }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </td>
            <td style="width:20%">
                <button type="button" id="button_cat_comp_{{ categoria.id }}" class="pure-button pure-button-active" style="font-size: 70%;background: rgb(66, 184, 221);">></button>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}

{% block content %}
<div id="titulo" style="float:left;width:30%;">
	<h3>Resumen Planificaci&oacute;n</h3>
</div>
<div id="nombre-item" style="float:left; width:100%; display:none;"></div>
<div style="float:left; width:100%; padding-top: 10px;">
	<div id="dashboard" class="pure-g" style="display:none;">
	    <div class="pure-u-1-2" style="height:270px;">
	    	<div>Venta</div>
	        <div style="height:90%;"><canvas id="venta-chart" width="500" height="250">[No canvas support]</canvas></div>
	    </div>

	    <div class="pure-u-1-2" style="height:270px;">
	    	<div>Contribuci&oacute;n y Margen</div>
	        <div style="height:90%;"><canvas id="contribucion-chart" width="500" height="250">[No canvas support]</canvas></div>
	    </div>

	    <div class="pure-u-1-2" style="height:270px;">
	    	<div>Unidades</div>
	        <div style="height:90%;"><canvas id="unidades-chart" width="500" height="250">[No canvas support]</canvas></div>
	    </div>

	    <div class="pure-u-1-2" style="height:270px;">
	    	<div>Precio Blanco</div>
	        <div style="height:90%;"><canvas id="precio-chart" width="500" height="250">[No canvas support]</canvas></div>
	    </div>
	</div>
</div>
<div id="dvLoading" style="display:none;"></div>
{% endblock %}

{% block js %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "css/planes/resumen.css" %}">
<script src="{% static "js/rgraph/RGraph.common.core.js" %}"></script>
<script src="{% static "js/rgraph/RGraph.common.dynamic.js" %}"></script>   <!-- Just needed for dynamic features (eg tooltips) -->

<script src="{% static "js/rgraph/RGraph.common.annotate.js" %}"></script>  <!-- Just needed for annotating -->
<script src="{% static "js/rgraph/RGraph.common.context.js" %}"></script>   <!-- Just needed for context menus -->
<script src="{% static "js/rgraph/RGraph.common.tooltips.js" %}"></script>  <!-- Just needed for tooltips -->
<script src="{% static "js/rgraph/RGraph.drawing.rect.js" %}"></script>

<script src="{% static "js/rgraph/RGraph.bar.js" %}"></script>              <!-- Just needed for Bar charts -->
<script src="{% static "js/rgraph/RGraph.line.js" %}"></script>             <!-- Just needed for Line charts -->
<script>

$(function() {

	$( "#resumen_plan_detail" ).addClass( "opcion-seleccionada" );
	
	// Controla la aparicion y desaparicion de la imagen animada que indica que hay un proceso
	// en ejecucion
	$( document ).ajaxStart(function() {
        $("#dvLoading").show();
    });

    $( document ).ajaxStop(function() {
        $("#dvLoading").hide();
    });

	/*
	Gatilla un request AJAX y devuelve un response JSON con la informacion
	que despliegan los graficos
	*/

	function buscarResumen(){
		var id_temporada_id, id_plan, id_item;
		var id_this = $(this).attr("id");
		// Se divide el ID del elemento BUTTON para generar el ID del elemento SELECT asociado
        // El cuarto valor del array es el ID asociado que se busca ya que el ID del elemento sigue la forma button_cat_comp_X
		id_button_array = id_this.split("_");
        id_item = $("#combo_cat_comp_" + id_button_array[3]).val();
        if ( id_item == -1 ){
            alert("Seleccione una opción válida.");
            return 0;
        }
		id_plan = parseInt({{ plan.id }});
		id_temporada = $("#combo_temporada").val();
		if (id_temporada != -1 && id_item != -1) {
			$.ajax({
	            data: {'id_plan':id_plan, 'id_temporada':id_temporada, 'id_item':id_item},
	            url: '/planes/plan/resumendata/',
	            type: 'get',
	            dataType:'json',
	            success: function(data){
	                console.log(data);
	                $("#dashboard").show();

	                var data_unidades = data.estadisticas.unidades;
	                var data_venta = data.estadisticas.venta;
	                var data_contribucion = data.estadisticas.contribucion;
	                var data_margen = data.estadisticas.margen;
	                var data_costo = data.estadisticas.costo;
	                var data_dcto_precio = data.estadisticas.dcto_precio;

	                var colores_arr = ['#44bbcc','#88dddd','#bbeeff'];
	                var color_linea_margen = ['#0055bb'];
	                var color_texto = '#777';
	                var tipo_letra = "Sans-Serif";
	                var tamano_letra = 10;

	                // Reset the canvas
            		RGraph.Reset(document.getElementById("venta-chart"));
            		RGraph.Reset(document.getElementById("unidades-chart"));
            		RGraph.Reset(document.getElementById("contribucion-chart"));
            		RGraph.Reset(document.getElementById("precio-chart"));

	                var bar_venta = new RGraph.Bar('venta-chart', data_venta.rows)
			            .Set('text.color', color_texto)
			            //.Set('text.font', tipo_letra)
			            .Set('labels', data_venta.cols)
			            .Set('labels.above', true)
			            .Set('labels.above.size', tamano_letra)
			            .Set('colors', colores_arr)
				        .Set('ylabels', false)
				        .Set('noyaxis', true)
				        .Set('gutter.left', 10)
				        .Set('gutter.right', 10)
                		.Set('gutter.bottom', 60)
				        .Set('background.grid', false)
				        .Set('labels.ingraph', data_venta.ingraph)
			            .Draw();

			        var bar_unidades = new RGraph.Bar('unidades-chart', data_unidades.rows)
			            .Set('text.color', color_texto)
			            .Set('labels', data_unidades.cols)
			            .Set('labels.above', true)
			            .Set('labels.above.size', tamano_letra)
			            .Set('colors', colores_arr)
				        .Set('ylabels', false)
				        .Set('noyaxis', true)
				        .Set('gutter.left', 10)
				        .Set('gutter.right', 10)
                		.Set('gutter.bottom', 60)
				        .Set('background.grid', false)
				        .Set('labels.ingraph', data_unidades.ingraph)
			            .Draw();

			        var bar_contribucion = new RGraph.Bar('contribucion-chart', data_contribucion.rows)
			            .Set('text.color', color_texto)
			            .Set('tooltips', data_contribucion.tooltips)
			            .Set('tooltips.event','onmousemove')
			            .Set('labels', data_contribucion.cols)
			            .Set('labels.above', true)
			            .Set('labels.above.size', tamano_letra)
			            .Set('colors', colores_arr)
				        .Set('ylabels', false)
				        .Set('noyaxis', true)
				        .Set('gutter.left', 10)
				        .Set('gutter.right', 10)
                		.Set('gutter.bottom', 60)
				        .Set('background.grid', false)
				        .Set('labels.ingraph', data_contribucion.ingraph)

			        var line_margen = new RGraph.Line('contribucion-chart', data_margen.rows)
			            .Set('tooltips', data_margen.tooltips)
			            .Set('tooltips.hotspot.size', 20)
			            .Set('colors', color_linea_margen)
			            .Set('tickmarks', 'circle')
				        .Set('ylabels', false)
				        .Set('noyaxis', true)
				        .Set('linewidth', 2)
				        .Set('units.post', '%')
				        .Set('gutter.left', 10)
				        .Set('gutter.right', 10)
                		.Set('gutter.bottom', 60)	
				        .Set('background.grid', false)
                		.Set('outofbounds', true) // Para valores negativos
	                var combo = new RGraph.CombinedChart(bar_contribucion, line_margen);
    				combo.Draw();

			        var bar_precio_dcto = new RGraph.Bar('precio-chart', data_dcto_precio.rows)
			            .Set('text.color', color_texto)
			            .Set('colors', colores_arr)
			            .Set('labels', data_dcto_precio.cols)
			            .Set('labels.above', true)
			            .Set('labels.above.size', tamano_letra)
			            .Set('grouping', 'stacked')
				        .Set('noyaxis', true)
				        .Set('gutter.left', 10)
				        .Set('gutter.right', 10)
                		.Set('gutter.bottom', 60)
				        .Set('background.grid', false)
				        .Set('ylabels', false)
				        .Set('linewidth', 2)
                		.Set('strokestyle', 'white')
			            .Draw();

			        // Esta funcion se utiliza para unificar los pedazos de cada barra, con el objetivo de que
			        // los tooltips se muestren al pasar el mouse sobre cualquiera de ellos
			        RGraph.each (bar_precio_dcto.coords2, function (key, value)
		            {
		                var x = value[0][0];
		                var y = value[0][1];
		                var w = value[0][2];
		                var h = value[0][3] + value[1][3] + value[2][3]; // Sum up the heights of the bar segments

		                var rect = new RGraph.Drawing.Rect('precio-chart', x, y, w, h)
		                    .Set('strokestyle', 'rgba(0,0,0,0)')
		                    .Set('fillstyle', 'rgba(0,0,0,0)')
		                    .Set('tooltips', [data_dcto_precio.tooltips[key]])
		                    .Set('tooltips.event','onmousemove')
		                    .Set('highlight.stroke', 'rgba(0,0,0,0)')
		                    .Draw();
		            }, bar_precio_dcto);

			        var bar_costo = new RGraph.Bar('precio-chart', data_costo.rows)
			            .Set('text.color', color_texto)
			            .Set('ymax', bar_precio_dcto.scale2.max)
			            .Set('gutter.left', bar_precio_dcto.Get('gutter.left'))
			            .Set('colors', color_linea_margen)
			            .Set('noaxes', true)
			            .Set('labels.above', true)
			            .Set('labels.above.size', tamano_letra)
			            .Set('hmargin', 20)
			            .Set('ylabels', false)
				        .Set('noyaxis', true)
				        .Set('gutter.left', 10)
				        .Set('gutter.right', 10)
                		.Set('gutter.bottom', 60)
				        .Set('background.grid', false)
			            .Draw();
	            },
	            complete: function(data){
	            	
	            }
	        });
			
			// Todo combobox que este por debajo del boton de busqueda presionado, debera quedar con la opcion en blanco como seleccionada
			$( "select[id^='combo_cat_comp_']" ).each(function(){
     			if(id_button_array[3] < $(this).attr('id').split("_")[3])
     				$(this).val(-1);
			});
        }
        // Se escribe el nombre del item seleccionado
        $("#nombre-item").html("Item: " + $("#combo_cat_comp_" + id_button_array[3] + " option:selected").text());
	}

	/*
    Se preocupa de cargar los elementos SELECT para la seleccion del item a comparar (comboboxes comparativo).
    */
    function buscarCategoriaComparacion(){
        var id_this = $(this).attr("id");
        var id_this_arry = id_this.split("_");
        var id_item = $("#combo_cat_comp_" + id_this_arry[3]).val();
        var id_plan = parseInt({{plan.id}});
        if(id_item != -1){
            $.ajax({
                data: {'id_item':id_item, 'id_plan':id_plan},
                url: '/planes/plan/categoriacompsearchlist/',
                type: 'get',
                success: function(data){
                    if ( data.items != null ){
                        html = '';
                        html += "<option value=\"-1\"></option>"
                        for (var x = 0, largo = data.items.length; x<largo; x++){
                            if ( data.items[x].precio != 0 )
                                html += '<option value="' + data.items[x].id + '">' + data.items[x].nombre + ' | ' + numeral(data.items[x].precio).format('0,0') + '</option>';
                            else
                                html += '<option value="' + data.items[x].id + '">' + data.items[x].nombre + '</option>';
                        }
                        $("#combo_cat_comp_" + data.categoria.id_categoria).html(html);
                    }
                    else{
                    }
                }
            });
			// Se selecciona la opcion en blanco de cada combobox que se encuentra por debajo del seleccionado
			$( "select[id^='combo_cat_comp_']" ).each(function(){
     			if(id_this_arry[3] < $(this).attr('id').split("_")[3])
     				$(this).val(-1);
			});
        }
    }

	//$("#combo_temporada").change(buscarResumen);
	$("[id^=combo_cat_comp_]").change(buscarCategoriaComparacion);
	$("[id^=button_cat_comp_]").click(buscarResumen);

});
</script>
{% endblock %}