{% extends "base.html" %}

{% block topbar %}

{% include "planes/menu.html" %}

{% endblock %}

{% block username %}
	{{ full_name }}
{% endblock %}

{% block sidebar %}
<div class="pure-menu pure-menu-open">
    <a class="pure-menu-heading">M&oacute;dulos</a>
    <ul>
	    <li><a href="{% url 'planes:plan_create' %}">Crear Planificaci&oacute;n</a></li>
	    <!--li><a href="{% url 'planes:index' %}">Volver</a></li-->
	</ul>
</div>
{% endblock %}

{% block content %}
<h3>Planes</h3>

<ol class="rectangle-list">
    {% for plan in planes %}

    <li><a href="{% url 'planes:plan_detail' plan.id %}"> {{ plan.nombre }}</a>( Avance: {{ plan.get_progreso }} )</li>

    {% endfor %}
</ol>

{% endblock %}

{% block js %}


<script>

$(function() {
    $( "#plan_list" ).addClass( "opcion-seleccionada" );
});

</script>

{% endblock %}