{% extends "base.html" %}

{% block topbar %}

{% include "planes/menu_plan_trabajo_detail.html" %}

{% endblock topbar %}

{% block username %}
	{{ full_name }}
{% endblock %}

{% block sidebar %}
<div class="menu_lateral_flotante">
    <div class="pure-menu pure-menu-open">
        <a class="pure-menu-heading">Acciones</a>
        <ul id="ul-menu-acciones">
            <li><a href="" id="btnPB">Precio Blanco</a></li>
            <li><a href="" id="btnCU">Costo Unitario</a></li>
            <li class="pure-menu-disabled" id="panel-acciones"><a href="" id="btnSave">Guardar</a></li>
            {% if plan.get_num_planificados > 0 %}
            <li><a href="{% url 'planes:plan_exportar_excel_detail' plan.id %}">Exportar a Excel (xlsx)</a></li>
            {% endif %}
        </ul>
    </div>

    <!-- Seccion con parametros de busqueda del item a proyectar  -->
    <div class="caja_bordes" style="padding: 0px 0px; float:left; width:100%;">
        <a class="caja-header">Proyecci&oacute;n</a>
        <table style="width:100%;">
            {% for categoria in combo_categorias %}
            <tr>
                <td><label>{{ categoria.nombre }}</label></td>
            </tr>
            <tr>
                <td>
                    <select id="combo_cat_proy_{{ categoria.id }}" class="buscador">
                        <option value="-1" selected></option>
                        {% for item in items_categoria_raiz %}
                            {% if item.categoria = categoria %}
                            <option value="{{ item.id }}">{{ item.nombre }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td><label>ITEMS</label></td>
            </tr>
            <tr>
                <td>
                    <select id="combo_resultado" class="buscador">
                    </select>
                </td>
            </tr>
        </table>
        <a class="caja-header">Comparativo</a>
        <table style="width:100%;">
            {% for categoria in combo_categorias_comp %}
            <tr>
                <td style="width:80%">
                    <label>{{ categoria.nombre }}</label>
                </td>
                <td style="width:20%"></td>
            </tr>
            <tr>
                <td style="width:80%">
                    <select id="combo_cat_comp_{{ categoria.id }}" class="buscador">
                        <option value="-1" selected></option>
                        {% for item in items_categoria_raiz %}
                            {% if item.categoria = categoria %}
                            <option value="{{ item.id }}">{{ item.nombre }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
                <td style="width:20%">
                    <button type="button" id="button_cat_comp_{{ categoria.id }}" class="pure-button pure-button-active" style="font-size: 70%;background: rgb(66, 184, 221);">></button>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<!-- Seccion con parametros de busqueda del item a proyectar  -->
{% endblock %}

{% block content %}
{% if msg %}
<h3>!</h3>
<div class="msg_warning">
    {{ msg }}
</div>
{% else %}

<div class="accordion">
    <h4>ITEM | <a id="exportar-pdf-trabajo" href="#">PDF</a></h4>
    <!-- div general para trabajo -->    
    <div id="tab_trabajo">
        <div style="width:100%; float:left;">
            <div id="div_etiquetas" style="width:10%; float:left;" class="tabla_datos_actividad"></div>
            <div id="div_datos" style="width:90%; float:left;" class="tabla_datos_actividad"></div>
        </div>
    </div>
    <!-- div para la vista de resumen -->
    <div id="tab_item_resumen" class="pure-g" style="display:none;">
        <div class="pure-u-1-2">
            <div class="titulo_chart"><h3>Ingresos por Ventas</h3></div>
            <div><canvas id="venta-chart" width="500" height="230">[No canvas support]</canvas></div>
        </div>

        <div class="pure-u-1-2">
            <div class="titulo_chart"><h3>Contribuci&oacute;n y Margen</h3></div>            
            <div><canvas id="margen-chart" width="500" height="100">[No canvas support]</canvas></div>
            <div><canvas id="contribucion-chart" width="500" height="130">[No canvas support]</canvas></div>
        </div>

        <div class="pure-u-1-2">
            <div class="titulo_chart"><h3>Unidades de Venta</h3></div>
            <div><canvas id="unidades-chart" width="500" height="230">[No canvas support]</canvas></div>
        </div>

        <div class="pure-u-1-2">
            <div class="titulo_chart"><h3>Precio blanco, precio real, ingreso y costo unitario</h3></div>
            <div><canvas id="precio-chart" width="500" height="230">[No canvas support]</canvas></div>
        </div>
    </div>
</div>
<div class="accordion">
    <h4>COMPARATIVO | <a id="exportar-pdf-comparativo" href="#">PDF</a></h4>
    <!-- div general para comparativo -->
    <div id="tab_comparativo">
        <div id="nombre_item_comp"></div>
        <div style="width:100%; float:left;">
            <div id="div_etiquetas_comparativo" style="width:10%; float:left;" class="tabla_datos_actividad_comp">
            </div>
            <div id="div_datos_comparativo" style="width:90%; float:left;" class="tabla_datos_actividad_comp">
            </div>
        </div>
    </div>
    <!-- div para la vista de resumen -->
    <div id="tab_item_resumen_comp" class="pure-g" style="display:none;">
        <div class="pure-u-1-2">
            <div class="titulo_chart"><h3>Ingresos por Ventas</h3></div>
            <div><canvas id="venta-chart-comp" width="500" height="230">[No canvas support]</canvas></div>
        </div>

        <div class="pure-u-1-2">
            <div class="titulo_chart"><h3>Contribuci&oacute;n y Margen</h3></div>
            <div><canvas id="margen-chart-comp" width="500" height="100">[No canvas support]</canvas></div>
            <div><canvas id="contribucion-chart-comp" width="500" height="130">[No canvas support]</canvas></div>
        </div>

        <div class="pure-u-1-2">
            <div class="titulo_chart"><h3>Unidades de Venta</h3></div>
            <div><canvas id="unidades-chart-comp" width="500" height="230">[No canvas support]</canvas></div>
        </div>

        <div class="pure-u-1-2">
            <div class="titulo_chart"><h3>Precio blanco, precio real, ingreso y costo unitario</h3></div>
            <div><canvas id="precio-chart-comp" width="500" height="230">[No canvas support]</canvas></div>
        </div>
    </div>
</div>
<div id="dvLoading" style="display:none;"></div>
<div style="display:none;">
    <form id="form_datos">
        {% csrf_token %}
        <input id="json_datos_tarea" type="hidden" name="datos_tarea" value="" />
    </form>
</div>
<div style="display:none;">
    <form id="form_datos_pbcu">
        {% csrf_token %}
        <input id="json_ajuste_pbcu" type="hidden" name="datos_ajuste_pbcu" value="" />
    </form>
</div>
<div id="dialog-box" title="Ajustar Información" style="text-align:center;">
    <p id="dialog_help_msg"></p>
    <input id="inputval" type="text" style="width:8em">
</div>

<div id="dialog-box-pbcu" title="Ajustar Información" style="text-align:center;">
    <p id="dialog_pbcu_help_msg"></p>
    <input id="input_pbcu" type="text" style="width:8em">
</div>

<div id="dialog-box-alerta" title="Advertencia" style="text-align:center;">
    <p></p>
</div>

{% endif%}

{% endblock %}

{% block js %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "planes/css/trabajo.css" %}">
<script>

$(function() {

    /*
    Objeto que mantiene informacion y principales estados del trabajo que el usuario
    se encuentra realizando en la pagina.
    */
    obj_trabajo = function(){
        /* ID del item sobre el cual esta trabajando */
        var id_item = -1;
        /* ID del item sobre el cual esta comparando */
        var id_item_comp = -1;
        var precio_item = 0;
        var costo_item = 0;
        /*
        Almacena la tarea que se esta realizando sobre la planificacion:
            - 1 Proyeccion (valor por defecto)
            - 2 Planificacion Temporada Vigente
            - 3 Planificacion Saldos y Avances
            - 4 Resumen
        */
        var actividad = parseInt({{ actividad }});
        // ID de la planificacion sobre la cual se esta trabajando
        var id_plan = parseInt({{ plan.id }});
        /*
        Almacena el estado del trabajo, es decir, si se han realizado modificaciones que deben ser guardadas:
            - false = no han habido modificaciones
            - true = ha sido modificada y los cambios no han sido guardados
        */
        var modificada = false;

        var datos = null;
        var datos_comp = null;

        var celda_editada = null;

        var url_item_trabajo = "{% url 'planes:plan_exportar_pdf_detail' plan.id %}" + "1/";
        var url_item_comparativo = "{% url 'planes:plan_exportar_pdf_detail' plan.id %}" + "2/";
        
        function setItem(id){id_item = id;}
        function getItem(){return id_item;}

        function setItemComp(id){id_item_comp = id;}
        function getItemComp(){return id_item_comp;}

        function setPrecioItem(precio){precio_item = precio;}
        function getPrecioItem(){return precio_item;}

        function setCostoItem(costo){costo_item = costo;}
        function getCostoItem(){return costo_item;}
        
        function getPlan(){return id_plan;}

        function setModificada(estado){modificada = estado;}
        function getModificada(){return modificada;}

        function setActividad(codigo){actividad = codigo;}
        function getActividad(){return actividad;}

        function getDatos(){return datos;}
        function setDatos(x){datos = x;}

        function getDatosComp(){return datos_comp;}
        function setDatosComp(x){datos_comp = x;}

        function getCeldaEditada(){return celda_editada;}
        function setCeldaEditada(elemento){celda_editada = elemento;}

        function getURLItemTrabajo(){return url_item_trabajo;}
        function setURLItemTrabajo(url){url_item_trabajo = url;}

        function getURLItemComparativo(){return url_item_comparativo;}
        function setURLItemComparativo(url){url_item_comparativo = url;}

        function limpiarItem(){
            datos = null;
            id_item = -1;
            modificada = false;
        }

        function limpiarItemComparativo(){
            datos_comp = null;
            id_item_comp = -1;
        }

        return{
            setItem:setItem,
            getItem:getItem,
            setItemComp:setItemComp,
            getItemComp:getItemComp,
            setPrecioItem:setPrecioItem,
            getPrecioItem:getPrecioItem,
            setCostoItem:setCostoItem,
            getCostoItem:getCostoItem,
            getPlan:getPlan,
            setModificada:setModificada,
            getModificada:getModificada,
            setActividad:setActividad,
            getActividad:getActividad,
            getDatos:getDatos,
            setDatos:setDatos,
            getDatosComp:getDatosComp,
            setDatosComp:setDatosComp,
            getCeldaEditada:getCeldaEditada,
            setCeldaEditada:setCeldaEditada,
            limpiarItem:limpiarItem,
            limpiarItemComparativo:limpiarItemComparativo,
            getURLItemTrabajo:getURLItemTrabajo,
            setURLItemTrabajo:setURLItemTrabajo,
            getURLItemComparativo:getURLItemComparativo,
            setURLItemComparativo:setURLItemComparativo
        }
    }();

    // Evento que permite enviar una alerta al usuario cuando esta tratando de salir de la pagina y hay
    // cambios que no han sido guardados
    $(window).bind("beforeunload",function(event) {
        if(obj_trabajo.getModificada()) 
            return "Hay cambios que no han sido guardados, ¿está seguro de querer salir?";
    });

    // Mantener sincronizado el movimiento del scroll inferior con el superior
    $('#div_datos').on('scroll', function () {
        $('#div_datos_comparativo').scrollLeft($(this).scrollLeft());
    });

    // Mantener sincronizado el movimiento del scroll superior con el inferior
    $("#div_datos_comparativo").on("scroll", function () {
        $("#div_datos").scrollLeft($(this).scrollLeft());
    });

    /* Se esconden las opciones para configurar precio blanco y costo unitario ya que
    se deben presentar al momento de trabajar la planificacion y no la proyeccion */
    $( "#btnPB" ).hide().click(ajustarPBCU);
    $( "#btnCU" ).hide().click(ajustarPBCU);

    /*
    Actualiza el atributo actividad del objeto obj_trabajo. Con esto se especifica el tipo de actividad
    que el usuario se encuentra realizando:
        - 1 Proyeccion
        - 2 Planificacion TV
        - 3 Planificacion AS
        - 4 Resumen
    */
    $( ".enlace-actividades" ).click(controlActividades);

    /*
        Guarda la proyeccion sobre la cual se esta trabajando.
    */
    $("#btnSave").click(guardarTrabajo);

    /* Cada vez que un usuario hace click sobre un input, el contenido 
    aparece seleccionado */
    $('input[type=text]').click(function() {
        $(this).select();
    });

    /* Cada vez que se envia un AJAX request se despliega un imagen que 
    notifica al usuario que hay un proceso en desarrollo */
    $( document ).ajaxStart(function() {
        $("#dvLoading").show();
    });

    /* Cada vez que se recibe una respuesta a una solicitud AJAX se
    esconde la imagen desplegada en la funcion anterior */
    $( document ).ajaxStop(function() {
        $("#dvLoading").hide();
    });

    /* Para que al hacer click en la tecla ENTER, los formularios de
    los dialogs sean enviados */
    $('body').on('keypress', '.ui-dialog', function(event) { 
        if (event.keyCode === $.ui.keyCode.ENTER) { 
            $('.ui-dialog-buttonpane button:first', $(this)).click();
            return false;
        }
    }); 

    /* Para la activicion de tooltips */
    $( document ).tooltip({
        track: true
    });
    
    $( "#dialog-box" ).dialog({
        autoOpen: false,
        width: 220,
        modal: true,
        buttons: {
            "Guardar": guardarUniDesc,
            Cancelar: function() {
                $( this ).dialog( "close" );
            }
        }
    });

    $( "#dialog-box-pbcu" ).dialog({
        autoOpen: false,
        width: 220,
        modal: true,
        buttons: {
            "Guardar": guardarPBCU,
            Cancelar: function() {
                $( this ).dialog( "close" );
            }
        }
    });

    $( "#dialog-box-alerta" ).dialog({
        autoOpen: false,
        width: 330,
        modal: true,
        buttons: {
            "Guardar": function(){
                console.log("cambios guardados!");
                $( "#dialog-box-alerta" ).dialog( "close" );
                $( "#btnSave" ).trigger( "click" );
                obj_trabajo.setModificada(false);
                var enlace = $(this).data('tipo_enlace');
                $( "#" + enlace ).trigger( "click" );
            },
            Descartar: function() {
                var enlace = $(this).data('tipo_enlace');
                obj_trabajo.setModificada(false);
                $( this ).dialog( "close" );
                $( "#" + enlace ).trigger( "click" );
            }
        }
    });

    $("#combo_resultado").change(busquedaAJAXdatos);
    $("[id^=button_cat_comp_]").click(function(){
        var id_item;
        var id_this = $(this).attr("id");
        // Se divide el ID del elemento BUTTON para generar el ID del elemento SELECT asociado
        // El cuarto valor del array es el ID asociado que se busca ya que el ID del elemento sigue la forma button_cat_comp_X
        id_button_array = id_this.split("_");
        id_item = $("#combo_cat_comp_" + id_button_array[3]).val();
        if ( id_item == -1 ){
            alert("Seleccione una opción válida.");
            return 0;
        }
        busquedaAJAXdatosComp(id_item);
    });
    $("[id^=combo_cat_proy_]").change(buscarCategoria);
    $("[id^=combo_cat_comp_]").change(buscarCategoriaComparacion);
    actualizarActividad();

});

</script>
<script src="{% static "planes/js/plan_trabajo_detail_general.js" %}" type="text/javascript"></script>
<script src="{% static "planes/js/plan_trabajo_detail_proyeccion.js" %}" type="text/javascript"></script>
<script src="{% static "planes/js/plan_trabajo_detail_planificacion_tv.js" %}" type="text/javascript"></script>
<script src="{% static "planes/js/plan_trabajo_detail_planificacion_as.js" %}" type="text/javascript"></script>
<script src="{% static "planes/js/plan_trabajo_detail_resumen.js" %}" type="text/javascript"></script>
<script src="{% static "js/rgraph/RGraph.common.core.js" %}"></script>
<script src="{% static "js/rgraph/RGraph.common.dynamic.js" %}"></script>   <!-- Just needed for dynamic features (eg tooltips) -->
<script src="{% static "js/rgraph/RGraph.common.annotate.js" %}"></script>  <!-- Just needed for annotating -->
<script src="{% static "js/rgraph/RGraph.common.context.js" %}"></script>   <!-- Just needed for context menus -->
<script src="{% static "js/rgraph/RGraph.common.tooltips.js" %}"></script>  <!-- Just needed for tooltips -->
<script src="{% static "js/rgraph/RGraph.drawing.rect.js" %}"></script>
<script src="{% static "js/rgraph/RGraph.bar.js" %}"></script>              <!-- Just needed for Bar charts -->
<script src="{% static "js/rgraph/RGraph.line.js" %}"></script>             <!-- Just needed for Line charts -->
{% endblock %}