{% extends "base.html" %}
{% load humanize %}
{% block topbar %}

{% include "planes/menu.html" %}

{% endblock %}

{% block username %}
	{{ full_name }}
{% endblock %}

{% block sidebar %}
<div class="pure-menu pure-menu-open">
    <a class="pure-menu-heading">M&oacute;dulos</a>
    <ul>
    	<li><a href="{% url 'planes:plan_delete' plan.id %}">Eliminar Planificaci&oacute;n</a></li>
	</ul>
</div>
{% endblock %}

{% block content %}

<div style="float:left; width:40%;">
	<div style="float:left; width:100%;"><h3>Plan</h3></div>

	<div class="left_label">Año</div>
	<div class="middle_label">:</div>
	<div class="right_label">{{ plan.anio }}</div>
	
	<div class="left_label">Temporada</div>
	<div class="middle_label">:</div>
	<div class="right_label">{{ plan.temporada }}</div>
	
	<div class="left_label">Número de ítems</div>
	<div class="middle_label">:</div>
	<div class="right_label">{{ plan.get_num_total }}</div>
	
	<div class="left_label">Items Planificados</div>
	<div class="middle_label">:</div>
	<div class="right_label">{{ plan.get_num_planificados }} ( {{ plan.get_progreso }} )</div>

	<div class="left_label">Items Pendientes</div>
	<div class="middle_label">:</div>
	<div class="right_label">{{ plan.get_num_pendientes }}</div>

	<div class="left_label">Responsable</div>
	<div class="middle_label">:</div>
	<div class="right_label">{{ plan.usuario_creador.first_name }} {{ plan.usuario_creador.last_name }}</div>
	
	{% if plan.get_num_planificados > 0 %}
	<div class="left_label">Exportar</div>
	<div class="middle_label">:</div>
	<div class="right_label"><a href="{% url 'planes:plan_exportar_excel_detail' plan.id %}">Excel</a> (xlsx), <a href="{% url 'planes:plan_exportar_pdf_detail' plan.id %}">PDF</a></div>
	<div class="left_label"></div>
	<div class="middle_label"></div>
	<div class="right_label"></div>
	{% endif %}

</div>

{% endblock %}

{% block js %}


<script>

$(function() {
    $( "#plan_list" ).addClass( "opcion-seleccionada" );
});

</script>

{% endblock %}