<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>PDF</title>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/purecss/pure-min.css" >
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}planes/css/resumen_plan_pdf.css">
</head>

<body>
    {% autoescape off %}{{ html_indice }}{% endautoescape %}
    {% autoescape off %}{{ html }}{% endautoescape %}
    <!-- Rgraph -->
    <script type="text/javascript" src="{{STATIC_URL}}js/rgraph/RGraph.common.core.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/rgraph/RGraph.common.key.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/rgraph/RGraph.drawing.rect.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/rgraph/RGraph.bar.js"></script>              <!-- Just needed for Bar charts -->
    <script type="text/javascript" src="{{STATIC_URL}}js/rgraph/RGraph.line.js"></script>             <!-- Just needed for Line charts -->
    <!-- JQuery -->
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.10.2.min.js"></script>
    <!-- Numeral.js A javascript library for formatting and manipulating numbers.-->
    <script type="text/javascript" src="{{STATIC_URL}}js/numeral.js/1.4.5/numeral.min.js"></script>
    <script type="text/javascript">
    
    // right padding s with c to a total of n chars
    function padding_right(s, c, n) {
        if (! s || ! c || s.length >= n) {
            return s;
        }
        var max = (n - s.length)/c.length;
        for (var i = 0; i < max; i++) {
            s += c;
        }
        return s;
    }

    function reemplaza(a, b, texto){
        /*
        a: texto a reemplazar
        b: texto de reemplazo
        texto: texto a modificar
        */
        return texto.replace(a, b);
    }

    $(function() {
        /*
        Objeto que mantiene informacion y principales estados del trabajo que el usuario
        se encuentra realizando en la pagina.
        */
        obj_trabajo = (function(){
            var id_plan = parseInt({{ plan.id }});
            var datos = null;

            function getPlan(){return id_plan;}

            function getDatos(){return datos;}
            function setDatos(x){datos = x;}

            function getTitulo(x){
                var titulo = "";
                switch(x){
                    case 0:
                        titulo = "Ingresos por Ventas";
                        break;
                    case 1:
                        titulo = "Contribuci&oacute;n y Margen";
                        break;
                    case 2:
                        titulo = "Unidades de Venta";
                        break;
                    case 3:
                        titulo = "Precio blanco, precio real, ingreso y costo unitario";
                        break;
                }
                return titulo;
            }

            return{
                getPlan:getPlan,
                getDatos:getDatos,
                setDatos:setDatos,
                getTitulo:getTitulo
            }
        })();

        /*
        Construye los graficos de resumen asociados al elemento escogido por
        el usuario.
        */
        generarContenedores = function (data){
            console.log(data);
            $.each( data, function( key, value ) {
                cargarGraficos(key, value);
            });

            return false;
        };

        function cargarGraficos(key, data){
            //console.log(key, data);
            var data_unidades = data.estadisticas.unidades;
            var data_venta = data.estadisticas.venta;
            var data_contribucion = data.estadisticas.contribucion;
            var data_margen = data.estadisticas.margen;
            var data_costo = data.estadisticas.costo;
            var data_dcto_precio = data.estadisticas.dcto_precio;

            var colores_arr = ['#44bbcc','#88dddd','#bbeeff'];
            var color_linea_margen = ['#0055bb'];
            var color_texto = 'black';
            var tipo_letra = "Sans-Serif";
            var tamano_letra = 10;

            var id_div_venta_chart = key + "-0-chart";
            var id_div_margen_chart = key + "-1a-chart";
            var id_div_contribucion_chart = key + "-1b-chart";
            var id_div_unidades_chart = key + "-2-chart";
            var id_div_precio_chart = key + "-3-chart";

            // Reset the canvas
            RGraph.Reset(document.getElementById(id_div_venta_chart));
            RGraph.Reset(document.getElementById(id_div_margen_chart));
            RGraph.Reset(document.getElementById(id_div_contribucion_chart));
            RGraph.Reset(document.getElementById(id_div_unidades_chart));
            RGraph.Reset(document.getElementById(id_div_precio_chart));

            var bar_venta = new RGraph.Bar(id_div_venta_chart, data_venta.rows)
                .Set('text.color', color_texto)
                /*.Set('text.font', tipo_letra)*/
                .Set('labels', data_venta.cols)
                .Set('labels.above', true)
                .Set('labels.above.size', tamano_letra)
                .Set('colors', colores_arr)
                .Set('ylabels', false)
                .Set('noyaxis', true)
                .Set('gutter.left', 10)
                .Set('gutter.right', 10)
                .Set('background.grid', false);
            bar_venta.ondraw = function (obj) {
                for (var i=0; i<obj.coords.length; ++i) {
                    obj.context.fillStyle = color_texto;
                    if ( data_venta.ingraph[i] != null ) {
                        RGraph.Text2(obj.context, {
                           //font:tipo_letra,
                           //'size':tamano_letra,
                           'x':obj.coords[i][0] + (obj.coords[i][2] / 2),
                           'y':obj.coords[i][1] + (obj.coords[i][3] / 2),
                           'text':data_venta.ingraph[i][0],
                           'valign':'center',
                           'halign':'center'
                        });    
                    }
                }
            };
            bar_venta.Draw();

            var bar_unidades = new RGraph.Bar(id_div_unidades_chart, data_unidades.rows)
                .Set('text.color', color_texto)
                .Set('labels', data_unidades.cols)
                .Set('labels.above', true)
                .Set('labels.above.size', tamano_letra)
                .Set('colors', colores_arr)
                .Set('ylabels', false)
                .Set('noyaxis', true)
                .Set('gutter.left', 10)
                .Set('gutter.right', 10)
                .Set('background.grid', false);
            bar_unidades.ondraw = function (obj) {
                for (var i=0; i<obj.coords.length; ++i) {
                    obj.context.fillStyle = color_texto;
                    if ( data_unidades.ingraph[i] != null ) {
                        RGraph.Text2(obj.context, {
                           //font:tipo_letra,
                           //'size':tamano_letra,
                           'x':obj.coords[i][0] + (obj.coords[i][2] / 2),
                           'y':obj.coords[i][1] + (obj.coords[i][3] / 2),
                           'text':data_unidades.ingraph[i][0],
                           'valign':'center',
                           'halign':'center'
                        });    
                    }
                }
            };
            bar_unidades.Draw();

            var bar_contribucion = new RGraph.Bar(id_div_contribucion_chart, data_contribucion.rows)
                .Set('text.color', color_texto)
                /*.Set('tooltips', data_contribucion.tooltips)
                .Set('tooltips.event','onmousemove')*/
                .Set('labels', data_contribucion.cols)
                .Set('labels.above', true)
                .Set('labels.above.size', tamano_letra)
                .Set('colors', colores_arr)
                .Set('ylabels', false)
                .Set('noyaxis', true)
                .Set('gutter.left', 10)
                .Set('gutter.right', 10)
                .Set('background.grid', false);
            bar_contribucion.ondraw = function (obj) {
                for (var i=0; i<obj.coords.length; ++i) {
                    obj.context.fillStyle = color_texto;
                    if ( data_contribucion.ingraph[i] != null ) {
                        RGraph.Text2(obj.context, {
                           //font:tipo_letra,
                           //'size':tamano_letra,
                           'x':obj.coords[i][0] + (obj.coords[i][2] / 2),
                           'y':obj.coords[i][1] + (obj.coords[i][3] / 2),
                           'text':data_contribucion.ingraph[i][0],
                           'valign':'center',
                           'halign':'center'
                        });    
                    }
                }
            };

            var line_margen = new RGraph.Line(id_div_margen_chart, data_margen.rows)
                /*.Set('tooltips', data_margen.tooltips)
                .Set('tooltips.hotspot.size', 20)*/
                .Set('text.color', color_texto)
                /*.Set('labels.above', true)
                .Set('labels.above.size', tamano_letra)*/
                .Set('colors', color_linea_margen)
                .Set('tickmarks', 'circle')
                .Set('ylabels', false)
                .Set('noyaxis', true)
                .Set('linewidth', 2)
                .Set('units.post', '%')
                .Set('gutter.left', 10)
                .Set('gutter.right', 10)
                .Set('background.grid', false)
                .Set('outofbounds', true);
            line_margen.ondraw = function (obj) {
                for (var i=0; i<obj.coords.length; ++i) {
                    obj.context.fillStyle = color_texto;
                    if ( data_margen.ingraph[i] != null ) {
                        RGraph.Text2(obj.context, {
                           //font:tipo_letra,
                           //'size':tamano_letra,
                           'x':obj.coords[i][0],
                           'y':obj.coords[i][1] - 10,
                           'text':data_margen.ingraph[i][0],
                           'valign':'center',
                           'halign':'center'
                        });    
                    }
                }
            };
            var combo = new RGraph.CombinedChart(bar_contribucion, line_margen);
            combo.Draw();

            var bar_precio_dcto = new RGraph.Bar(id_div_precio_chart, data_dcto_precio.rows)
                .Set('text.color', color_texto)
                .Set('colors', colores_arr)
                .Set('labels', data_dcto_precio.cols)
                .Set('hmargin', 20)
                .Set('grouping', 'stacked')
                .Set('noyaxis', true)
                .Set('background.grid', false)
                .Set('ylabels', false)
                .Set('linewidth', 2)
                .Set('strokestyle', 'white');
                
            bar_precio_dcto.ondraw = function (obj)
                {  
                    /* Se agregan los valores por el costado izquierdo de cada barra. */
                    for (var j=0; j<data_dcto_precio.labels_aux.length; ++j) {
                        obj.context.fillStyle = color_texto;
                        for (var i=0; i<data_dcto_precio.labels_aux[j].length; ++i) {
                            RGraph.Text2(obj.context, {
                                                       /*font:tipo_letra,
                                                       'size':tamano_letra,*/
                                                       'x':obj.coords2[j][i+1][0] + obj.coords2[j][i+1][2],
                                                       'y':obj.coords2[j][i+1][1],
                                                       'text':numeral(data_dcto_precio.labels_aux[j][i]).format('0,0'),
                                                       'valign':'center',
                                                       'halign':'left'
                                                      });
                        }
                    }
                    /* Se agregan los totales de cada barra por sobre la barra completa. */
                    for (var i=0; i<obj.coords2.length; ++i) {
                        obj.context.fillStyle = color_texto;
                        RGraph.Text2(obj.context, {
                                                   /*font:tipo_letra,
                                                   'size':tamano_letra,*/
                                                   'x':obj.coords2[i][0][0] + (obj.coords2[i][0][2] / 2),
                                                   'y':obj.coords2[i][0][1] - 7,
                                                   'text':numeral(data_dcto_precio.labels[i]).format('0,0'),
                                                   'valign':'center',
                                                   'halign':'center'
                                                  });
                    }
                };
            bar_precio_dcto.Draw();
            

            var bar_costo = new RGraph.Bar(id_div_precio_chart, data_costo.rows)
                .Set('text.color', color_texto)
                .Set('ymax', bar_precio_dcto.scale2.max)
                .Set('colors', color_linea_margen)
                .Set('noaxes', true)
                .Set('hmargin', 25)
                .Set('ylabels', false)
                .Set('noyaxis', true)
                .Set('background.grid', false);
            bar_costo.ondraw = function (obj)
                {
                    for (var i=0; i<obj.coords.length; ++i) {
                        obj.context.fillStyle = color_texto;
                        RGraph.Text2(obj.context, {
                                                   /*font:tipo_letra,
                                                   'size':tamano_letra,*/
                                                   'x':obj.coords[i][0] + (obj.coords[i][2] / 2),
                                                   'y':obj.coords[i][1] + (obj.coords[i][3] / 2),
                                                   'text':numeral(obj.data_arr[i]).format('0,0'),
                                                   'valign':'center',
                                                   'halign':'center'
                                                  });
                    }
                };
            bar_costo.Draw();
                
        }

        responseDummy = function(data){
            console.log(data);
        }
        
        data = {'id_plan':obj_trabajo.getPlan()};
        url = 'http://localhost:8000/planes/plan/buscar-datos-resumen-planificacion/';
        
        $.ajax({
            type: 'GET',
            url: url,
            data: data,
            dataType: 'jsonp',
            jsonp: 'generarContenedores',
            success: function() { console.log('Success!'); }
        });
        
    });

    </script>

</body>
</html>