{% extends "base.html" %}

{% block topbar %}

{% include "administracion/menu.html" %}

{% endblock %}

{% block username %}
	{{ full_name }}
{% endblock %}

{% block sidebar %}
<div class="pure-menu pure-menu-open">
    <a class="pure-menu-heading">M&oacute;dulos</a>
    <ul>
        {% if admin %}
        <li><a href="{% url 'categorias:categoria_create' %}">Crear</a></li>
        {% endif %}
        <li><a href="{% url 'administracion:index' %}">Volver</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
<h3>Categor&iacute;as</h3>

<div id="itemstree">
    <ul id="treeData" style="display: none;">
        {% for categoria in categorias %}
            {% for branch, obj in categoria.as_tree %}
                {% if obj %}

                    <li id="{{ obj.id }}" class="folder expanded"><a href="{% url 'categorias:categoria_detail' obj.id %}" target="_self">({{ obj.get_nivel }}) {{ obj.nombre }}</a>

                    {% if branch %}
                        <ul>
                    {% else %}
                        </li>
                    {% endif %}
                {% else %}
                    {% if branch %}
                        </ul>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    </ul>
</div>

{% endblock %}

{% block js %}
<script>    

$(function() {
    $("#itemstree").fancytree({
        activate: function(e, data) {
            var node = data.node;
            if( node.data.href ){
                window.open(node.data.href, node.data.target);
            }
        }
    });

});

</script>
{% endblock %}
