{% extends "base.html" %}

{% block topbar %}

{% include "administracion/menu.html" %}

{% endblock %}

{% block username %}
	Bienvenido {{ full_name }} !
{% endblock %}

{% block sidebar %}
<div class="pure-menu pure-menu-open">
    <a class="pure-menu-heading">M&oacute;dulos</a>
    <ul>
        {% if admin %}
	    <li><a href="{% url 'categorias:categoria_update' categoria.id %}">Editar</a></li>
	    <li><a href="{% url 'categorias:categoria_delete' categoria.id %}">Eliminar</a></li>
	    {% endif %}
	    <li><a href="{% url 'categorias:categoria_list' %}">Volver</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}

<h3>{{ categoria.nombre }}</h3>

{% endblock %}