{% extends "base.html" %}

{% block topbar %}

{% include "administracion/menu.html" %}

{% endblock %}

{% block username %}
	{{ full_name }}
{% endblock %}

{% block sidebar %}
<div class="pure-menu pure-menu-open">
    <a class="pure-menu-heading">M&oacute;dulos</a>
    <ul>
        <li><a href="{% url 'categorias:categoria_list' %}">Cancelar</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
<h3>Eliminar Categor&iacute;a</h3>
<form action="" method="post">{% csrf_token %}
    <p>Está usted seguro de que desea eliminar la categor&iacute;a "{{ object }}"?</p>
    <input type="submit" value="Confirmar" />
</form>
{% endblock content %}

{% block js %}

<script>    

$(function() {
    $( "#enlace_categorias_list" ).addClass( "opcion-seleccionada" );
});

</script>
{% endblock %}
