{% extends "base.html" %}
{% load humanize %}

{% block topbar %}

{% include "administracion/menu.html" %}

{% endblock %}

{% block username %}
	{{ full_name }}
{% endblock %}

{% block sidebar %}
<div class="pure-menu pure-menu-open">
    <a class="pure-menu-heading">M&oacute;dulos</a>
    <ul>
        {% if admin %}
        <li><a href="{% url 'categorias:item_create' %}">Crear Item</a></li>
        <li><a href="{% url 'categorias:item_responsables' %}">Asignar Responsables</a></li>
        {% endif %}
        <li><a href="{% url 'administracion:index' %}">Volver</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
<h3>Items</h3>

<div id="itemstree">
    <ul id="treeData" style="display: none;">
        {% for obj in items %}
        <li id="{{ obj.id }}" class="folder lazy"><a href="{% url 'categorias:categoria_detail' obj.id %}" target="_self">{{ obj.nombre }}</a>
        {% endfor %}
    </ul>
</div>

{% endblock %}

{% block js %}
{% load static %}
<!-- Fancytree -->
<link href="{% static "fancytree_2.0.0-8/skin-lion/ui.fancytree.css" %}" rel="stylesheet" type="text/css">
<script src="{% static "fancytree_2.0.0-8/jquery.fancytree.js" %}" type="text/javascript"></script>

<script>

$(function() {
    
    $("#itemstree").fancytree({
        
        lazyload: function(e, data){
        // return a source in 'data.result'
            data.result = {
            url: "{% url 'categorias:item_nodesearch' %}",
            data: {key: data.node.key}
            };
        },

        
    });
    $( "#enlace_items_list" ).addClass( "opcion-seleccionada" );

});

</script>
{% endblock %}
