{% extends "base.html" %}

{% block topbar %}

{% include "administracion/menu.html" %}

{% endblock %}

{% block username %}
	Bienvenido {{ full_name }} !
{% endblock %}

{% block sidebar %}
        {% if admin %}
        <h4>Administraci&oacute;n</h4>
        <ul>
            <li><a href="/admin/" target="_blank">Ingresar</a></li>
        </ul>
        <h4>Usuarios</h4>
        <ul>
            <li><a href="/accounts/list/">Ver usuarios</a></li>
            <li><a href="/accounts/register/">Crear usuario</a></li>
            <li><a href="">Eliminar usuario</a></li>
        </ul>
        {% endif %}
        <h4>Categor&iacute;as</h4>
        <ul>
            <li><a href="/categorias/cat/list/">Ver Categor&iacute;as</a></li>
            {% if admin %}
            <li><a href="/categorias/cat/create/">Crear Categor&iacute;a</a></li>
            {% endif %}
        </ul>
        <h4>Items</h4>
        <ul>
            <li><a href="/categorias/item/list/">Ver Items</a></li>
            {% if admin %}
            <li><a href="/categorias/item/create/">Crear Item</a></li>
            <li><a href="">Asignar Responsables</a></li>
            {% endif %}
        </ul>
        {% if admin %}
        <h4>Calendarios</h4>
        <ul>
            <li><a href="/calendarios/calendario/list/">Calendario</a></li>
            <li><a href="#">Periodos</a></li>
        </ul>
        {% endif %}
        {% if admin %}
        <h4>Temporadas</h4>
        <ul>
            <li><a href="/planes/temporada/list/">Ver Temporadas</a></li>
        </ul>
        {% endif %}
{% endblock %}

{% block content %}

<h2>M&oacute;dulo de Administraci&oacute;n</h2>

{% endblock %}