{% extends "base_spa.html" %}
{% load static %}
{% block topbar %}

    <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul>
            <li><a href="#/index">ADMINISTRACI&Oacute;N</a></li>
            <li><a href="#/test1">| USUARIOS |</a></li>
            <li><a href="#/test2">| CATEGOR&Iacute;AS |</a></li>
            <li><a href="#/test3">| ITEMS |</a></li>
            <li><a href="#/test1">| TEMPORADAS |</a></li>
            <li><a href="#/test2">| CALENDARIO |</a></li>
            <li><a href="#/test4">| VENTAS |</a></li>
        </ul>
    </div>

{% endblock %}

{% block username %}
    {{ full_name }}
{% endblock %}

{% block sidebar %}

{% endblock %}

{% block body %}
    ng-app="adminApp"
{% endblock %}

{% block content %}

    <div ng-view></div>

{% endblock %}

{% block template_partials %}
    {% include "administracion/partials/partials.html" %}
{% endblock %}